[2020-10-02 11:30] mre opened #1 "Implement Retry/backoff"
**The challenge**

Currently lychee does not retry failed requests.
For this to work, a mechanism for rescheduling requests has to be in place.
One option is using channels for passing requests and responses and rescheduling the failed ones.

As a bonus it would be nice to support [exponential backoff](https://en.wikipedia.org/wiki/Exponential_backoff) when retrying requests. There are crates for

[2020-10-04 14:47] mre opened #3 "Support relative URLs"
I'd like to suport checking relative urls.
Maybe we could add a `base-url` parameter that gets used for relative URLs.
Help wanted.

[2020-10-04 14:49] mre opened #4 "Show the progress interactively with progress bar and in-flight requests (--progress)"
Would love to show the progress of checking the URLs with a progress bar like
https://github.com/mitsuhiko/indicatif.

[2020-10-04 14:58] mre opened #5 "Exclude private URLs"
We should have flags for excluding private, link-local, and loopback hosts.

Basically this means creating the new commandline flags and mapping them to the functions in std::net (linked below):

* `--exclude-private`: [Exclude private addresses](https://doc.rust-lang.org/std/net/struct.Ipv4Addr.html#method.is_private)
* `--exclude-link-local`: [Exclude link-local addresses](https://doc.rust-lang.

[2020-10-05 07:26] whizsid commented on #3
I like tobwork on this issue. I will send a PR.

[2020-10-05 08:45] pawroman commented on #5
I'd be happy to pick this up!

[2020-10-05 09:28] mre commented on #5
Go for it @pawroman. It's all yours. 😃

[2020-10-05 09:33] mre commented on #3
Nice. Have fun @whizsid. 😃

[2020-10-07 02:59] xiaochuanyu opened #6 "Can't compile due to "error: reached the type-length limit""
[code]
I tried doing whats suggested but got similar error again with higher suggested limit.
Eventually adding `#![type_length_limit="7912782"]` to top of `main.rs` worked.

[2020-10-07 02:59] xiaochuanyu commented on #4
Would like to take a stab at this.

[2020-10-07 16:26] mre commented on #4
It's all yours. ❤️

[2020-10-07 16:28] mre commented on #6
I can reproduce it on my machine. There seems to be a bug in the async/futures stack somewhere that blows up those types. 🤔 It seems to be a recursion problem during code generation.

[2020-10-07 16:28] mre commented on #6
Looks like it's a recent issue with the mail checking crate: https://github.com/amaurymartiny/check-if-email-exists/issues/568

[2020-10-14 23:09] xiaochuanyu commented on #6
@mre fyi I tried downgrading `check-if-email-exists` but ran into compile errors due its dependencies.
I found a workaround instead, see #9.

[2020-10-14 23:57] mre commented on #6
Nice! Thanks for that @xiaochuanyu.
Really weird. Given that this unblocks the other PR and that it's a good idea to use the latest toolchain anyway I'm very happy to merge this.

[2020-10-15 00:11] mre commented on #6
@pawroman found this ticket: https://github.com/rust-lang/rust/issues/54540. I'll mention it in the `check-if-email-exists` thread from above.
Guess we can close this. 👏

[2020-10-15 00:11] #6 closed

[2020-10-16 15:12] mre opened #12 "Builder pattern for Checker"
At the moment we construct the Checker object (which takes care of actually checking the links) with a basic constructor:
https://github.com/hello-rust/lychee/blob/812c5972a3aa6004273a9fe512b95c7f9a3da91a/src/checker.rs#L293-L310

The readability and maintainability could be greatly improved e.g. by using a builder pattern.
This way, the individuals fields would be more understandable and we could

[2020-10-16 19:44] kashifsoofi commented on #12
Can I help on this.

[2020-10-16 20:15] mre commented on #12
Sure. It's all yours. Thanks for looking into it. 😊

[2020-10-16 22:27] kashifsoofi commented on #12
Sorry spoke too soon, i have begun reading rust lang book to learn rust and i though i can handle this but apparently its a bit advanced for my current rust level.

[2020-10-17 22:28] #5 closed

[2020-10-17 22:46] #1 closed

[2020-10-17 22:47] mre commented on #4
Implemented by @xiaochuanyu. 🚀

[2020-10-17 22:47] #4 closed

[2020-10-18 10:20] pawroman commented on #12
I have done some exploration and looks like [rust-typed-builder](https://github.com/idanarye/rust-typed-builder) could be an alternative to `derive_builder` worth considering.

One caveat I see in our case is that not all fields are trivially instantiated (e.g. `reqwest::Client` requires using a builder). Having a way to initialize it in the generated `build` method would be ideal, but I'm not sur

[2020-10-18 22:05] mre commented on #12
Not sure if it helps, but according to [the docs](https://crates.io/crates/derive_builder) `derive_builder` has a flag to skip the `build()` method:

Maybe that's all we need?

@kashifsoofi no worries and thanks for the feedback.

[2020-10-18 22:06] mre commented on #3
Ping @whizsid. Are you still working on this? If not that's also fine and I'd just unassign it for now. 😉

[2020-10-18 22:15] mre opened #13 "Make lychee usable as a library"
Realized that some other projects might profit from a good link checker.
One such project that comes to mind is [zola](https://github.com/getzola/zola), which uses a [custom but basic link checker](https://github.com/getzola/zola/blob/2d1c95432290478547316522d1f9219ac38e5b13/components/site/src/link_checking.rs) right now.

TODO:
* [x] Split code into `lib.rs` and `main.rs`
* [x] Use `lib.rs` from

[2020-10-18 22:33] mre opened #14 "lychee.toml"
Providing a lot of command-line flags can get tedious and repetitive quite quickly.
Consider the following example:

[code]

As an alternative I'd love to have a `lychee.toml` file, which can be used instead of manually specifying the flags:

[code]

Then whenever `lychee` is called, it would look for the `lychee.toml` file and read the parameters. Parameters could still be overwritten from the co

[2020-10-19 07:33] whizsid commented on #3
Yes. Sorry for the delay. I will send a PR in next 2 days. I think I should use a markdown parser with the existing link checker. Because the existing link checker is not working for relative URLs.

[2020-10-19 15:44] akrantz01 commented on #14
I'd be interested in taking this on.

[2020-10-19 19:52] akrantz01 commented on #14
I'm currently working on implementing this and I had a couple questions:
1. Where should lychee search for the configuration file?
2. Would it be possible to switch to `structopt` from `gumdrop` since it supports argument flattening which would allow the parameters and configuration variables to share a struct definition.

[2020-10-19 21:55] mre commented on #14
Yay! Thanks, I'll assign it to you.

Just the local folder for now. 🤓

Yup, go for it!

[2020-10-20 23:31] #3 closed

[2020-10-21 00:10] #14 closed

[2020-10-21 11:03] mre opened #18 "Add support for basic auth"
Sometimes websites require basic auth to be retrieved.
We should add a flag for basic auth support to lychee.

Maybe something like `--basic-auth "username:password"`.

Hyper (our http client) recently [moved typed headers into a separate crate](https://github.com/hyperium/hyper/issues/1950).

Here is the header we could use ([docs](https://docs.rs/headers/0.3.2/headers/struct.Authorization.html))

[2020-10-21 11:08] mre opened #19 "Include patterns"
We have ways to *exclude* URLs via regex, but no ways to *include* them.
There should be support for a `--include` parameter which takes a regex similar to `--exclude`.
Preferably the includes and excludes should be handled in order of appearance on the commandline.
This way we could allow excluding a range of urls while still allowing for exceptions, e.g.
`--exclude "github.com" --include "github

[2020-10-21 21:44] FabianBG commented on #18
Hi @mre, looking to practice some Rust so this looks good, can you assign it to me ?? :D

[2020-10-21 21:46] mre commented on #18
Aye it's yours. :clap:

[2020-10-23 19:16] FabianBG commented on #18
Pr donne can you review it pls.

[2020-10-23 19:41] FabianBG commented on #18
Some problems with fmt y cllippy :P but already fixed

[2020-10-24 10:11] untitaker commented on #6
Was this issue really fixed or just worked around for in CI? Lychee still can't be compiled locally on osx.

[2020-10-24 12:39] mre commented on #6
Are you on Rust 1.47?

[2020-10-24 13:21] untitaker commented on #6
I was not, sorry for the noise.

[2020-10-24 13:43] untitaker opened #21 "Support checking local file links"
#15 implemented relative URLs, however a simple test shows that it is not working:

[code]

Expected to find a 404 because file `foo.html` does not exist.

[2020-10-24 20:38] mre commented on #6
No worries. Thanks for trying lychee. We'd be interested to hear about your experience. You could comment here or open issues if you find any. :smiley:

[2020-10-25 12:18] mre commented on #21
You need to pass a `base-url` parameter like so:
```GITHUB_TOKEN= lychee index.html -pv --base-url "http://example.com"```

Would that cover your use-case?
We could add support for checking local files as well if that helps.

[2020-10-25 12:27] untitaker commented on #21
Ah so it is always going to do network I/O? Ok, that clarifies that then. I just assumed it would do local file checking because the input is already a local file (i.e. work closer to how liche works). I think I'll just run a local http server for CI like I did with the others then and pass an URL.

As for usecases: I am only doing benchmark comparisons around a bunch of link checkers. My usecase

[2020-10-25 13:00] mre commented on #21
Good points!

This is tackled by @pawroman in #22. 🎉

True. Come to think of it, checking relative URLs in case a file name is given might be the default. Wonder what @whizsid  and @pawroman think about it.

[2020-10-25 14:45] untitaker commented on #21
Liche does this thing where it aborts link checking entirely when it encounters a host-relative URL while parsing a local file and base-url is not set. I have to write this for anything to work:

[code]

which is kind of silly, but it does allow those arguments to diverge, and still lets liche resolve `/foo/bar` hrefs (host-relative but path-absolute) correctly:

[code]

I think a hybrid where --d

[2020-10-25 15:04] untitaker commented on #21
Also I just realized that lychee does not support recursive traversal of links at all, or am I wrong? Had to combine `find`, `xargs` and `lychee` in godforsaken ways but obviously that does not perform very well...

[2020-10-25 19:40] mre commented on #21
Nope, recursion is still on the todo list (see readme). My idea was to use channels for handling in-flight checks; do you use the same in hyperlink?
I do like your other ideas.

[2020-10-25 21:38] untitaker commented on #21
hyperlink can only crawl directories and resolve relative/internal links (no http support at all), as such it walks through the entire directory first using walkdir/jwalk then parallelizes parsing all found files with Rayon. No graph traversal over hrefs, just directory walking.

[2020-10-25 21:45] mre commented on #21
Precisely. Would love a comparison between async and rayon for that use-case. My guess is that perf would be similar while async would use slightly less resources when dealing with many tasks. Then again threads are super optimized as well on modern hardware so there might be no difference after all.

[2020-10-25 22:09] untitaker commented on #21
I did see that liche, which uses goroutines, is *slightly* faster than hyperlink on folders with >1 mio files, but because liche spawned over 200 threads on my mac (while hyperlink spawned 12) I also assumed it effectively did use a thread pool, not actual async syscalls for file I/O.

I did pick basic threading over tokio because I thought outside of networking (I didn't care about HTTP at all) i

[2020-10-25 22:29] untitaker commented on #21
I am planning to do semi-serious benchmarks across a bunch of link checkers. I haven't figured out how yet.

Right now my approach to informal testing was to set up a random link checker, disable most of features such that the featureset roughly matches the few things hyperlink can do, then compare them on https://github.com/getsentry/sentry-docs and some synthetic stuff. Unfortunately there's two

[2020-10-26 08:31] mre commented on #18
Resolved by @FabianBG. Yay! 😀

[2020-10-26 08:31] #18 closed

[2020-10-26 08:32] mre commented on #19
#23 🥳

[2020-10-26 08:32] #19 closed

[2020-10-26 11:50] mre opened #25 "Refactor: use channel for in-flight requests"
In the future we'd like to support recursive link checking.
[code]
would check all links on my blog until a configurable max-depth.
At the moment we iterate over all links of a page in a for-loop and print a
status report at the end. Recursive execution would require to modify
that for-loop during iteration, which is not ideal.

A channel for in-flight requests might both allow for a simpler imple

[2020-10-26 21:48] pawroman opened #26 "Better handle input files arguments"
I have two suggestions for improvements in terms of handling the input files arguments:

1. Allow to pass in links from stdin, e.g. follow the standard-ish Unix convention of specifying `-` as input file, instructing the program to read in from STDIN instead. E.g. this should work fine:

[code]

2. Issue some kind of warning or error for non-existing files. Perhaps erroring out instead of issuing

[2020-10-27 22:12] mre commented on #26
Agree with both. 👍
With regards to 2, why would you make warnings the default? My thinking is that warnings could be overseen (especially in CI) and files might not get checked as a consequence, leading to subtle testing holes. A hard error would avoid that and a flag like `--skip-missing` would turn the error into a warning. Thoughts?

[2020-10-28 07:38] pawroman commented on #26
I guess I'm thinking about backwards compatibility. But, since there's no official release (yet?) we are not really shackled by breaking backwards compatibility and making it error on missing files. I like the `--skip-missing` flag idea!

[2020-10-28 08:16] whizsid commented on #21
It is good if we can provide a file checker. Because most of users using link checkers for CI/CD actions. It will fail when they are adding a new relative URL. Because this relative URL is not already exist on provided site at the time. I would like to work on this.

[2020-10-28 10:27] mre commented on #26
Nice, then let's go with explicit hard errors. Before 1.0 everything goes.

[2020-10-28 12:42] mre commented on #21
Sure @whizsid, go for it.

We could check if a file exists if `base-url` is not set. Additionally I'm wondering if we should only check for a file if the relative link also came from a file. My reasoning is that it could cause some false-positives if a file exists that just happens to have the same name as a relative link on a website. Might be an edge-case, though and make things unnecessarily co

[2020-11-05 19:21] pawroman opened #27 "Allow to configure method other than GET for certain links"
Checking links in the wild, I have learned that doing a GET on `.pdf`, `.png` and other big files might be excessive. Usually a HEAD request for such files is sufficient.

The users should be able to specify which method to use for links (as a config option), perhaps using a `regex->method` mapping, so the checker doesn't have to be ran multiple times.

[2020-11-05 19:22] pawroman opened #28 "Add youtube and vimeo link check support"
For youtube links, it's necessary to scrape the content of the website to work out if the video still exists. For vimeo, they don't really like fake user agents.

The https://www.youtube.com/oembed API will return 404 for missing videos and can be used to check youtube links.

We special case GitHub already, we could special case YouTube and Vimeo too. The mechanism to specialize these kinds of li

[2020-11-05 19:26] pawroman opened #29 "Ensure cookies are not re-used between requests"
Certain websites use cookies to throttle/rate-limit requests. Not storing cookies between requests is one strategy to avoid being rate-limited.

I'm not sure what the current behavior is, but would be good to ensure this.

[2020-11-05 19:30] pawroman opened #30 "Consider retrying on certain HTTP codes only"
The purpose of a link checker is to ensure that the tested links are all still valid.

However, some HTTP codes indicate permanent issues and resources that are gone. In my experience, 404 is usually not worth retrying.

You can argue that retries should only happen for certain subset of the HTTP codes, to speed up the link checking process. This might be a configurable option.

[2020-11-05 19:34] pawroman opened #31 "Consider treating codes other than 200 as success"
Currently, we only consider 200 status code as success. But in some cases codes like 206 Partial Content might be treated as success, e.g. the entire content might not be needed.

This should probably be a configurable option.

[2020-11-09 10:52] mre commented on #31
Oh actually it is: https://github.com/lycheeverse/lychee/blob/a7673562d7d4ca58defe1088a5e6aa1cbe373e5d/src/options.rs#L123-L126
But we should probably set a sane default like `["200", "204", "206"]` or so.

[2020-11-09 10:57] mre commented on #30
Nice idea! We could add a `skip-retry` option that defaults to `404`. If anyone is interested in working on this, post a comment here. @pawroman and me are happy to help. 😊

[2020-11-09 11:02] mre commented on #28
@pawroman and me discussed that we could have a `workarounds` or `overwrites` module for these cases.
Perhaps a structure like this would work:
[code]
We could think about more generic approaches, but I'd be careful not to generalize too early and only add the overwrites we need in the beginning. Any ideas?

[2020-11-16 19:54] pawroman commented on #26
Started working on this now; expect a PR soon-ish :wink:

[2020-11-18 23:39] mre opened #34 "Use structopt-toml as a config loader?"
I just found [`structopt-toml`](https://github.com/dalance/structopt-toml/) and it looks like it covers all of what we need for our config loader. The code is quite similar and also uses `serde` in the background. The advantage is that we could outsource some code to this crate and avoid duplication of default values in our `config.rs`.

Here is an example from their docs:

[code]

@pawroman, @akr

[2020-11-24 19:36] mre opened #36 "Look into tower as a replacement for deadpool + channels"
While working on #33 I looked into existing libraries for network handling.
I even asked around [on Twitter](https://twitter.com/matthiasendler/status/1330994425565208581).

Turns out there is a neat little library called tower that was recommended by @shanesveller.
It handles many things that we currently do manually or not at all:
* network timeouts
* retries
* batching

[This part](https://gith

[2020-11-24 19:48] mre opened #37 "Question: Should `Accept: text/html` be a default header?"
[Crates.io returns 404 when not specifying a custom `Accept: text/html` header](https://github.com/rust-lang/crates.io/issues/788).

I wonder if we should make that header a default for all requests.
Not sure how many other websites have the same issue, but I'm wondering if it can hurt to specify the encoding just in case.
On the other side there might be scenarios where we expect JSON as a respon

[2020-11-24 20:30] #12 closed

[2020-11-25 09:50] mre commented on #21
@whizsid are you still working on this? Let me know if you need any support.

[2020-11-25 09:51] mre commented on #25
Closed by #33. 🎉

[2020-11-25 09:51] #25 closed

[2020-11-25 09:55] mre commented on #29
Just checked and it looks like cookie handling would have to be added explicitly in reqwests:
https://www.reddit.com/r/rust/comments/bb1tuo/question_how_to_use_cookies_with_reqwest/
So I think we're all good here for now. Do you think we can close this? 😃

[2020-11-25 09:57] mre commented on #31
@pawroman do you think we should change the default? If not I'd say we can close this because the success codes can be configured like so: `--accept 200,204,206`.

[2020-11-25 18:27] pawroman commented on #31
Hi, sorry for the delayed response.

Looks good as it is, thanks for confirming :+1:

[2020-11-25 18:31] mre commented on #31
No worries. Glad we got this covered. 😊

[2020-11-25 18:31] #31 closed

[2020-11-25 18:34] pawroman commented on #37
Good question. I have not encountered this in the wild, maintaining a sizeable collection of links that I'm checking regularly. Maybe it's not a very common issue?

Perhaps we should build a document with "common quirks" such as this?

E.g. accept status might need setting to 200,204,206 etc, `Accept: text/html` header (or even `Accept: */*`) needs to be set, etc.

Users can work around these usin

[2020-11-25 18:35] pawroman commented on #34
Nice find, definitely worth a try :+1:

[2020-11-25 18:36] pawroman commented on #29
Awesome. Yeah, good to close :+1:

[2020-11-25 20:30] #29 closed

[2020-11-29 10:50] pawroman opened #39 "Upgrade to Tokio 0.3"
Tokio 0.3 is a release that future-proofs the API and promises to be on par with 1.0 in terms of API: https://tokio.rs/blog/2020-10-tokio-0-3

We should upgrade Tokio and all related crates.

[2020-11-29 14:35] pawroman opened #40 "Publish images to Docker Hub"
To make the project more user friendly, and easier to integrate into existing workflows, we should add Docker image builds for releases/tags and publish them to Docker Hub.

[2020-11-30 00:48] mre commented on #40
I registered the lycheeverse namespace on Dockerhub now so we can proceed with building the image.
Propose to base in off of alpine or debian slim. Contributions welcome.

[2020-11-30 00:51] mre commented on #40
This one looks great: https://github.com/marketplace/actions/publish-docker

[2020-11-30 11:26] mre commented on #40
Proposing to use Debian for the base image as it provides better perf in comparison to alpine builds, and SSL support is easier to configure according to https://blog.logrocket.com/packaging-a-rust-web-service-using-docker/.

[2020-11-30 18:01] pawroman commented on #40
Absolutely agreed. Debian slim is a great base from my experience. Can't say the same about alpine (it's a bit non-standard and causes all sorts of random issues)

[2020-11-30 23:34] mre commented on #37
Great idea! Started a troubleshooting guide [here](https://github.com/lycheeverse/lychee/blob/master/TROUBLESHOOTING.md). We can always extend it and move some of the common workarounds into a module if we like.

[2020-11-30 23:34] #37 closed

[2020-11-30 23:38] mre commented on #27
Expanding on this, what do you think about using `HEAD` requests for known file formats like `.pdf` and `.png` automatically? It could still be overwritten in the config of course.

[2020-11-30 23:49] mre opened #53 "Report output in JSON format"
## Introduction

We only print a summary to the console at the end of the process at the moment.
Having machine-readable output would allow other tools and CI pipelines to consume
lychee's output.

## How to contribute

Link checking statistics end up in a `stats` object that is defined here:
https://github.com/lycheeverse/lychee/blob/master/src/stats.rs

You'd have to implement `Serialize` and `D

[2020-12-01 00:02] mre opened #54 "Report extended statistics: request latency"
## Introduction

Some requests take longer than others &mdash; sometimes by a significant amount.
As of now we are blind how long each website took to respond. Providing this information to the user would help with troubleshooting problems and optimizing testing times.

It would be great to add some extended statistics to our final output (in case the user wants to see those).

## How to contribut

[2020-12-01 00:16] mre opened #55 "Introduce extractor pool"
## Introduction

As of now we send each URI we'd like to check to a client pool in `main.rs`. Code is here:
https://github.com/lycheeverse/lychee/blob/d2e349cb29606d3a4a999dcf5dce1b5108a8c0f9/src/main.rs#L128-L135

This is not ideal for a few reasons:

- All links get extracted on startup. This is a slow process that can take up to a few seconds for long link lists.
  It's not necessary to block t

[2020-12-01 00:19] mre opened #56 "Use colored output"
## Introduction

We add some emojis to lychees output but to easily separate failures from mere status updates we could add some color.

## How to contribute

Add the [`colored` crate](https://crates.io/crates/colored) as a project dependency and adjust the `println!` statement accordingly. Errors should be red and successes green.
Feel free to experiment with other crates or outputs.

[2020-12-01 10:15] mre commented on #55
Update: @pawroman is working on this as part of #35.

[2020-12-01 10:28] mre opened #59 "Publish lychee for common platforms"
## Introduction

lychee is getting more mature and we'd like to share the future v1 with a broader audience.
For that we need an easy way to install the binary.

Required platform support (roughly ordered by complexity):

* [X] cargo install
* [ ] Docker Hub (see #40 and #52)
* [ ] Binary releases on Github
* [ ] Homebrew for macOS
* [ ] Chocolatey for Windows
* [ ] apt (Debian/Ubuntu)

(This list

[2020-12-01 20:59] pawroman commented on #59
I'm happy to contribute an Arch Linux AUR package :+1:

[2020-12-01 21:01] pawroman commented on #55
It's a first step in this, but doesn't cover the entire scope.

[2020-12-01 21:05] pawroman commented on #59
General remark: arch-wise, we could consider publishing binaries for x86_64, arm and aarch64 (64-bit ARM).

I'm sure there would be at least some ARM users.

[2020-12-01 21:26] mre commented on #55
Quoting your comment from the PR so we don't forget:

[2020-12-01 21:28] pawroman commented on #27
Yeah, makes sense.

Alternatively (if it's even possible) we could read up to N bytes, where N is the file header (e.g. png and pdf files have headers). But that's a lot more complex.

[2020-12-01 22:38] mre commented on #59
Sure! That would be great. Updated the list accordingly.

[2020-12-02 21:58] mre opened #61 "Simplified `check` method that accepts &str"
## Introduction

The current `check` method of our client only accepts a `URI`, so users have to do this slightly awkward dance to get a link checked:

[code]

We've been discussing whether we should support a simplified interface as well that simply accepts strings:

[code]

## How to contribute

If you want to tackle that, please propose a signature for the simplified checker here.
We'd be parti

[2020-12-02 22:28] #26 closed

[2020-12-02 23:06] mre commented on #40
Yay, we have an official image now and the latest `master` build is already published. 🐳
It's based on Debian slim and automatically generated whenever we push to `master` or release a new tag.

[2020-12-02 23:06] #40 closed

[2020-12-03 09:12] pawroman commented on #59
Sorry for confusion, by this

I meant that all of our packages should have versions for these CPU architectures. This includes Docker, binaries published on GitHub and other binary packages.

Arch Linux is just Arch Linux :)

[2020-12-03 09:51] mre commented on #59
Noted. Updated the list accordingly. 👍

[2020-12-03 13:03] mre commented on #59
Talked to @pizzamig and he'd be willing to support us with the FreeBSD package. Thanks!

[2020-12-03 15:57] pawroman opened #62 "Separate crate for test utilities"
Currently, the `test_utils` module is exported as part of the public API.

This is not by design, but rather a simplified version of what it should be: we should extract all shared test/benchmarking functionality into a separate crate. This crate could then be used by unit tests as well as integration tests in the `tests` directory.

The crate could live in the main repo, since cargo supports [wor

[2020-12-03 17:56] mre opened #63 "How to reduce duplicate dependencies?"
I did run `cargo +nightly udeps` before and we don't have any unused dependencies.
*However* @pizzamig mentioned that there is still room for improvement.

Looking at our dependency tree it's quite large:

[code]

The ones marked with `*` are duplicate ones.
Cleaned it up with my magic shell skills. (Yes, the command could be improved but you get the idea.)

[code]

Result for more than one occure

[2020-12-04 08:12] drahnr opened #64 "Expose the link check as library"
Hey, awesome tool and as a matter of fact [cargo-spellcheck](http://github.com/drahnr/cargo-spellcheck) has a bit of an overlap (I just wasn't aware of `lychee`'s existence!).

It would be awesome if `lychee` could be used as a library as well so that arbitrary cmark content can be fed into it, this would be particularly interesting for not re-implementing the logic as part of https://github.com/d

[2020-12-04 09:46] mre commented on #64
Hey @drahnr,
you're in luck. #46 will make that happen and it lands... \*checking notes\*... it has just landed. 🎉
Can you give it a shot and report back? We'd be happy to add any missing pieces.

[2020-12-04 10:18] mre commented on #64
BTW added cargo-spellcheck to https://github.com/analysis-tools-dev/static-analysis.
It's live on the website now in case you want to give it an upvote: https://analysis-tools.dev/tag/rust

[2020-12-04 10:48] mre commented on #13
Done in #46

[2020-12-04 10:48] #13 closed

[2020-12-04 17:22] mre commented on #64
Closing this as library support is available now. We can create new issues for library feature requests.
We'd love to get your feedback after trying lychee. You can create a new issue or comment here. 😄

[2020-12-04 17:57] mre commented on #59
Hum... working on binary releases but it seems to be harder than expected.
Developing this on a fork as I never get those CI builds right on first try. 😆

Current pipeline:
https://github.com/mre-early-access/lychee/blob/master/.github/workflows/release.yml

Last build:
https://github.com/mre-early-access/lychee/runs/1500158899?check_suite_focus=true

If someone wants to hack on this, go ahead.

[2020-12-05 19:17] anarcat opened #68 "missing features in comparison table"
Hi!

By default, some crawlers (like linkchecker and the w3c link checker) respect robots.txt (because they are, after all, bots). One of the thing that got me involved in linkchecker is the ability to disable that for some sites, actually..

Is that a feature that lychee supports? Either way, it should probably be listed in the table.

Same with GUI support: linkchecker has a GUI, not sure if tha

[2020-12-05 21:11] mre commented on #68
Oh wow that's quite a nice list!

When I initially compiled the comparison I picked whatever I could find on various repos.
It's quite biased at the moment but it took quite some time to check a single feature for all checkers so I had to prioritize, heh.
Would you mind sending a PR for adding the missing items to the comparison?

Some thoughts

Yup. We support multiple `exclude` regexes as well a

[2020-12-06 20:29] anarcat commented on #68
Thanks for the quick reply! I understand some features might seem out of scope for lychee - I think that's fine, but I also think a fair comparison would nevertheless include those...

As much as I would love to see that happen, I don't have much more time beyond the tiny PR I submitted.

Some friend also identified that lychee doesn't recurse -- which I found surprising -- so I added that to the

[2020-12-08 13:28] mre commented on #68
Yeah recursion is still on the todo list. See https://github.com/lycheeverse/lychee/issues/21

[2020-12-08 19:28] pawroman commented on #68
GUI is kind of an anti-feature for me, because of (arguably) little usefulness. Some people might need/want GUI but I think it's not that useful for most use cases. I agree that it's a design decision. I also think that with JSON/CSV output, a simple GUI can be bolted on without major problems, e.g. using zenity or this: https://github.com/BashGui/easybashgui or a simple web interface.

That being

[2020-12-08 19:40] anarcat commented on #68
just to be clear, the feature list here is not something I'm proposing lychee necessarily implement. it's fine if lychee doesn't want a GUI: but it would still be nice to see how lychee differs from other similar tools, and if there is one feature it decided not to have, that's the place to document it, IMHO.

[2020-12-10 12:21] drahnr commented on #64
There are two issues that I can see right now:

* cargo manifest does not expose a library
* a release is pending to include those changes (`0.3.1` was cut right before #64 landed)

Or maybe I missed smth. Thanks in advance!

[2020-12-10 15:23] mre commented on #64
Will cut a new release 0.4.0 after #74 is merged. Then we can test the CD pipeline as well. 😄

[2020-12-11 23:32] mre commented on #59
Binary releases are done. 🥳

[2020-12-11 23:38] mre commented on #64
@drahnr can you give it another shot? 0.4.0 is out on now on crates.io.

[2020-12-13 15:12] mre commented on #59
lychee Github action: https://github.com/marketplace/actions/lychee-link-checker-action

[2020-12-14 00:15] #53 closed

[2020-12-14 15:26] styfle opened #78 "Add recursive option"
It would be nice to pass a URL and have it crawl the entire website recursively looking for dead links.

In order to avoid crawling the entire internet, it should stop recursing once a request no longer matches the original domain.

[2020-12-14 21:25] mre commented on #78
Yeah it has been discussed a few times already and it's high on the todo-list.
Will require quite some restructuring I guess.
Right now the flow is

[code]

but there is no connection back to the extractor.

[2020-12-15 10:52] drahnr commented on #64
Cool thanks!

There are few things I think that could be improved upon:

* Reduce the exposed module structure - imho it's better to have fewer modules when each of them only contains a single or two entities
* Provide true errors (one that impl's `Send + Sync + 'static + std::error:Error`) rather than using `anyhow`. I'd recommend `thiserror` :)
* Currently one example is provided for the simple

[2020-12-15 14:21] drahnr commented on #64
Another issue that arises, is regarding the use of `tokio 0.2`, lychee's futures will not run nicely with `tokio 0.3`:
[code]

[2020-12-15 14:30] drahnr commented on #64
See https://github.com/drahnr/cargo-spellcheck/pull/131 and run `cargo run -- linkcheck README.md` to see the effect :)

[2020-12-15 14:48] mre commented on #64
Alright! Thanks for trying and for all the wonderful tips.
* `thiserror` will be the best option it seems.
* will flatten the module structure a bit
* We'll probably create an examples folder as is good practice. Nice idea!
* Any idea on how to provide the bye- and character ranges? Would be happy for some sample code and output.

We'd love to move to tokio 0.3, but we're currently blocked on #51

[2020-12-15 15:07] drahnr commented on #64
with `cmark` it's pretty much free lunch - this is how you get byte ranges https://github.com/drahnr/cargo-spellcheck/blob/master/src/documentation/markdown.rs#L90-L92 and as `cmark` operates on characters, you essentially need to consume the characters upon the start byte bound and count the chars within the byte range to get a char range.

It's not so much using tokio, but making it executor agn

[2020-12-15 18:07] mre commented on #64
Thanks for the tip about cmark. I'll look into that.
Making the library executor-independent sounds like a good idea as well. Any instructions for that? If you find the time you could even create a ticket for it. Otherwise I can do it later. 😃

[2020-12-15 18:14] mre opened #82 "Improve library support"
In #64 @drahnr mentioned a few improvement areas for library support:

* [ ] Reduce the exposed module structure - it's better to have fewer modules when each of them only contains a single or two entities
* [ ] Provide true errors (one that impl's `Send + Sync + 'static + std::error:Error`) rather than using anyhow. So use `thiserror` instead of `anyhow`.
* [ ] Currently one example is provided f

[2020-12-15 18:15] mre commented on #64
I went ahead and created #82. @drahnr I think we can close this issue here and move the discussion over to #82. What do you think?

[2020-12-15 18:16] mre commented on #82
@drahnr mentioned that this is how you get byte ranges with cmark: https://github.com/drahnr/cargo-spellcheck/blob/master/src/documentation/markdown.rs#L90-L92 and as cmark operates on characters, you essentially need to consume the characters upon the start byte bound and count the chars within the byte range to get a char range.

[2020-12-15 21:57] #64 closed

[2020-12-19 12:23] MichaIng commented on #21
The now deprecated [liche](https://github.com/raviqqe/liche) had the most reasonable implementation for "local" links, IMO:
- Relative local links (not starting with a slash) simply check for local files relative to the originating document, just as it would work on the "published" document, assuming that all local targets are present when the originating document is. This is true for 99% of cases

[2020-12-19 12:37] MichaIng commented on #27
I see the `-X` option, which defaults to GET, but does this mean that checking a link that points to e.g. an OS image, the whole possibly GiB large file is downloaded currently? 😄

Actually I'm not sure why GET would be a reasonable default for probing links. Are there cases where HEAD would succeed but GET would fail (for a different reason than bad network connection that makes the download stop

[2020-12-19 14:17] MichaIng opened #83 "Not all URLs are found depending on HTML structure"
It seems that parsing a HTML file for links aborts unexpectedly at some point, depending on the format/structure of that HTML file:
[code]
I added some random newlines to the document which lead to two URLs being found.

The first HTML is in non-minified (otherwise exact match) form available here, where at least 6 URLs are found and checked:
[code]
But when you check the HTML, there are a lot mor

[2020-12-21 12:15] mre commented on #27
Good points. Perhaps HEAD should be the default. From some tests I noticed that not all websites properly handle HEAD requests or even handle them at all. I can't find an example right now, though.
So if @pawroman is fine with it, I'd change the default to HEAD.

[2020-12-21 12:32] MichaIng commented on #27
Now that you say it, that is actually true. E.g.:
[code]
AWS hosted downloads seem to not handle HEAD requests gracefully. I'm not sure if/how other link checkers handle such cases, but since all cases I know are actual file download URLs, it would be still not reasonable to perform the download then, but instead lychee users would need to exclude those URLs then. Otherwise not sure if @pawroman's

[2021-01-02 11:27] pawroman commented on #27
I quite like this idea, as a fallback for plain HEAD requests. Also see my comments below.

I'm fine as long as there's appropriate fallbacks. Checking my links collection and using HEAD I'm getting these 4 errors:

- 🚫 https://www.objectstyle.com/agile/why-developers-hate-agile [405 Method Not Allowed]
- 🚫 https://christine.website/blog/why-rust-2020-02-15 [500 Internal Server Error]
- 🚫 https://

[2021-01-02 12:16] pawroman commented on #83
Thanks for reporting this. It seems that the HTML link extractor has some issues parsing the HTML structure properly. I looked at  https://raw.githubusercontent.com/MichaIng/DietPi-Website/master/index.html.

We currently use an XML parser ([quick-xml](https://github.com/tafia/quick-xml)), and it seems to have issues parsing things like:

[code]

Erroring out with

[code]

and following that, it g

[2021-01-02 12:25] pawroman commented on #83
@mre As a temporary quick fix, we can also use: [`reader.check_end_names(false)`](https://docs.rs/quick-xml/0.20.0/quick_xml/struct.Reader.html#method.check_end_names)

This prevents it from erroring if XML is malformed and increases the number of links found in https://raw.githubusercontent.com/MichaIng/DietPi-Website/master/index.html from 6 to 22, parsing the file until the end.

But despite be

[2021-01-02 12:45] MichaIng commented on #83
Good find. Yes in HTML closing tags or attribute values are not always required, so it makes sense to not try to parse correct XML. Could it make sense to concentrate on `<a href` `<img src` `<link href` `<script src`, i.e. known HTML tag/attribute combinations that are links or asset sources, instead of trying to parse (and by this somehow validate) the whole code? Often HTML snippets are stored

[2021-01-02 13:02] pawroman commented on #83
It's essentially what we're doing already (for the most part), see: https://github.com/lycheeverse/lychee/blob/b7ab4abb0d058362731dd02fc323ff11ff5b6017/src/extract.rs#L67-L104 and the link extractor will extract links from `<link href="...">`.

[2021-01-02 13:18] MichaIng commented on #83
But the attributes are gathered by a parser that expects correct code around it to succeed? What I meant is really a manual e.g. regex text parsing, like `<a[[:blank:]][^>]*href=["']?([^"'[:blank:]])` (cobbled together example, for sure there are better ones 😅). On the other hand, I guess there are existing parsers that can be configured to ignore errors, to likely no need to re-invent the wheel.

[2021-01-02 13:36] pawroman commented on #83
Precisely. Parsing HTML using regex is a bad idea in general.

The MR fixing the missing links is up: #92 -- see the code, I have added appropriate tests there.

Note we'll likely need to switch the XML parser to a HTML one, but that's more involved and will take some more time to address (this would fix the missing links for `<script defer src="..."></script>`).

[2021-01-02 13:56] MichaIng commented on #83
Depends on the use case and needs. At least it serves great flexibility and one does not rely on upstream fixes or workarounds to overcome missing flexibility and such. But yeah, it could become a maintenance monster as well, I guess.

Great work, many thanks! I'm not good in reading Rust, but I see the two elements that allow missing closing tags and empty attribute values 👍.

[2021-01-03 16:47] mre commented on #83
Thanks @MichaIng for reporting the issue and @pawroman for proposing a fix.
#92 is merged now and I'll tag 0.4.1 after CI has passed. Does this unblock you @MichaIng?

As for html5ever, I love the idea. @pawroman would you want to work on that?

[2021-01-03 17:31] MichaIng commented on #83
I just tested, and the raw HTML is now parsed completely: https://raw.githubusercontent.com/MichaIng/DietPi-Website/master/index.html
What still does not work is the minifed build, the first two tests above are still valid (the third is fixed): https://github.com/lycheeverse/lychee/issues/83#issue-771388796

I tried to re-add body + head tags, re-added line breaks, added quotes around attribute va

[2021-01-04 12:23] mre commented on #27
Sounds like a plan then!

[2021-01-04 12:25] mre commented on #83
I think this can only be fixed properly once we move to html5ever for parsing the HTML. That's a priority.

Nope. We could add a `--debug` flag for that, though.

[2021-01-04 14:22] MichaIng commented on #83
If it's only about dropping or printing messages that are received from the parser (or other used libraries) anyway, then that would be great.

[2021-01-04 15:49] c-martinez opened #94 "Extended summary"
Hi!

I am trying to upgrade from [link-checker](https://github.com/peter-evans/link-checker) to [lychee-action](https://github.com/lycheeverse/lychee-action) however I am running into a small issue. link-checker output is plain text and very easy to process (grep) to list only broken links. lychee's output is much prettier, and I actually really like the summary it produces. However it would be gr

[2021-01-04 18:28] pawroman commented on #94
Hi,

Thanks for the feedback. In default mode (without any flags), lychee (on the CLI) only prints out links that failed checks. See this -- lychee checking its own README:

[code]

In `--verbose` mode it produces a lot more output, including passed links and a summary. This is the default mode for the action, see: https://github.com/lycheeverse/lychee-action/blob/master/action.yml#L6

You can twe

[2021-01-04 19:07] pawroman commented on #83
My debugging was very low tech, I added a `dbg!` call to diagnose the issue, as well as changed `while let Ok(...) = ` to a plain loop with a match in `extract_links_from_html`. Doing that again (see my branch with the debug changes: https://github.com/pawroman/lychee/commit/4ada976867c41ae70a4dcf3fb014db73bc588ae2) for https://dietpi.com/index.html and https://dietpi.com/docs/index.html I have un

[2021-01-04 19:29] MichaIng commented on #83
Indeed, changing it to `<!DOCTYPE html>` (capital letters) solves the zero URL finds, I'd never though about that. While a plain text mode wouldn't be bad as well, it isn't able to find local links, so I agree that a HTML parser makes sense to allow handling those. Probably even a combination would be awesome, so that effective links/references can be checked and additionally (optionally) URLs tha

[2021-01-04 23:06] mre commented on #83
Agreed. We could add it as part of integrating html5ever or do it as a separate task. However you prefer.

Good idea. We could add a `--dump` flag for that maybe? Alternative names could be `--diagnose` or `--dry-run`.

No objections against adding e.g. a `--format` flag that enforces a certain format. Perhaps my only concern is that adding too many flags could confuse some first-time users. The `

[2021-01-05 08:16] c-martinez commented on #94
Great, I think that is what I needed to know. Thanks!

[2021-01-05 08:16] #94 closed

[2021-01-07 00:02] mre commented on #68
We've since added JSON output support, which I deem to be the most useful format for machine-readability. I've also mentioned the lack of recursion functionality in the docs now and updated the remaining tools to the best of my knowledge.

From your list, telnet, FTP, news:, and nntp support might be another nice addition, but I honestly don't have the time to check all tools for that functionalit

[2021-01-07 00:02] #68 closed

[2021-01-07 00:06] mre commented on #39
This is done now. 😃

[2021-01-07 00:06] #39 closed

[2021-01-07 22:14] pawroman commented on #83
Let's move this discussion to a dedicated PR: #99

Sure, sounds very reasonable.

[2021-01-10 09:12] pawroman commented on #83
@MichaIng we have added the new HTML parser (available with release `0.5.0`). Would you like to give that a try see if it helped your use cases?

[2021-01-10 12:08] MichaIng commented on #83
Awesome, many thanks for the quick implementation, it works perfectly fine now, all (full) URLs are successfully detected. I'll hence mark this as closed.

[2021-01-10 12:08] #83 closed

[2021-01-12 03:18] praneesha opened #106 "Skip/Exclude Unallowed URL Schemes"
@mre - I get the below output when I run the link checker. All the 6 links marked as errors are correct and working. Therefore, how can I skip/exclude them from being checked?

<img width="1098" alt="Screenshot 2021-01-12 at 08 45 09" src="https://user-images.githubusercontent.com/11707273/104265091-d89cd200-54b2-11eb-90ef-a2df9d21ef2b.png">

My config is as follows:

[code]

[2021-01-12 09:31] mre commented on #106
Hey,
lychee supports exclude patterns, which are just regular expressions, so something like this should work:

[code]

[2021-01-12 09:37] mre commented on #106
The `mailto` links work for me with the latest lychee (0.5). So with the above command I get:

[code]

[2021-01-12 10:28] praneesha commented on #106
@mre - Giving the args like this doesn't work.

[code]

<img width="1100" alt="Screenshot 2021-01-12 at 15 58 26" src="https://user-images.githubusercontent.com/11707273/104302620-07d13480-54ef-11eb-9370-707e3abf00dc.png">

How can I get this resolved?

[2021-01-13 14:53] mre commented on #106
Strange. Are you running it with the same input files? It looks like it can't even detect a single link now (Total: 0). The exclude params will only skip the checking, but the links should still be counted for the summary.
To you have any public CI run that I could check?
(Sorry for the inconvenience.)

[2021-01-14 09:49] Wuliyuanulb opened #112 "How to check all *.md files under one folder_1 and also under folders under folder_1"
Hi,

I use --verbose folder/*.md to let lychee check links in all md files, but I also need it to check other md files under other folders. Is this supported?

Thanks

[2021-01-14 13:02] mre commented on #112
Yeah, just use multiple arguments:
[code]
There is no limit on the maximum number of inputs. You can also mix inputs from different sources:

[code]

This checks the markdown files in the folders 1 and 2 as well as all links on endler.dev. 😃

[2021-01-14 21:58] MichaIng opened #113 "--exclude option excludes input files"
I just recognised that the `--exclude` option takes all following arguments as exclude expressions. It took me a while understand why `Error: Failed to read file: README.md` shows up even that I passed a lot of other files and globs as input 😄. `--` or another option (argument starting with dash) ends the exclude arguments.

If this is expected, probably a note in README + help text would be good,

[2021-01-14 22:05] MichaIng commented on #112
Or use extended globs to check all Markdown files in all directories below the current one recursively:
[code]
Note the required single quotes since lychee itself does the file matching here as extended globs (`**` to match directories recursively) are not supported by default in most shells.

[2021-01-14 22:14] MichaIng opened #114 "Print scanned sources when using "--verbose" option"
Currently the `--verbose` option prints all checked links, but not the files/sources in which those URLs were found. It would be great if `lychee` would print the currently processed source as well before the checked URLs found in each source.

But I guess the concurrency of processed sources will be an issue to implement this, right?

[2021-01-14 22:17] 4x0v7 opened #115 "Provide checksums for releases"
Hi there

This is an enhancement request.
It would be nice to have SHA256 checksums provided for releases of lychee

[2021-01-15 15:20] mre commented on #113
We don't do anything fancy with `--exclude`; it's just a normal structopt field:

https://github.com/lycheeverse/lychee/blob/bfeeb28e1dab261f5025a9affdd483d61bf63ca6/src/bin/lychee/options.rs#L159-L162

So I'd say that's kind of the convention in structopt when you have a field that uses `Vec<_>` as a type.
At least according to the POSIX standard it seems to be standard behavior:

See Guideline 1

[2021-01-15 15:28] mre commented on #114
Yeah that should be possible. Some thoughts below.

* We have to find a balance between too little and too much output for the verbose option, though. One idea that came to mind was to have different levels of verbosity (`-v`, `-vv`, `-vvv`) similar to curl et al. I'd argue that we could show the sources at a higher level of verbosity, perhaps `-vvv`.
* Once we support recursion (#78), the output

[2021-01-15 15:52] MichaIng commented on #113
Yes as said, it's not a bug, just a syntax that is probably rarely enough used so that inexperienced users and as well higher experienced developers like me sometimes run into 😅.

Mostly I know this from X server calls and similar, where you want to pass multiple parameters to the client/child layer, followed by parameters to the server/parent layer, which then need to be delimited by `--`, but in

[2021-01-15 16:45] mre commented on #113
We have the same behavior for includes and headers. Would you add that note to all of these parameters in that case, add it to the lychee help output as a general note below all options, or just to the `README.md`?

[2021-01-15 18:30] MichaIng commented on #114
Actually when using it to check larger websites with many pages, it's helpful to directly see the file where the faulty link is located, making an additional step obsolete to first search that link. So, when using verbosity levels, I would move printing false positives (which are indeed only useful on the meta level, to test or debug the lychee usage itself) to a higher verbosity level and print s

[2021-01-15 19:38] MichaIng commented on #113
Oh, I didn't think about that. To be effective, it would make sense in the usage/`--help` output of the binary itself, but not in full length below each option that supports multiple arguments.

Btw, I see now that it's already part of the usage info:

Maybe it's really just me who run into this, even overseeing this usage reminder. If at all, probably an additional sentence for the `ARGS: <inputs

[2021-01-17 15:46] mre commented on #113
Sounds reasonable. #119 😄

[2021-01-17 16:01] #113 closed

[2021-01-17 16:01] mre commented on #115
Yeah that makes sense. It's not the top priority right now, but if you want to give it a shot, the code is here:
https://github.com/lycheeverse/lychee/blob/master/.github/workflows/release.yml
We would have to add another step to calculate and upload the checksum.
This other pipeline could help: https://github.com/deild/macos-config-check/blob/25195984ac087876bb66e93f96d5dc966ce6be2b/.github/workf

[2021-01-19 12:46] mre commented on #114
Fully agree.
We could add the input source as a field to the response. It is currently defined as:
https://github.com/lycheeverse/lychee/blob/5c8a4dfa7eb1e38b85c92c6f07e5d63b6c43b621/src/types.rs#L22-L26
Adding the input field would allow us to print the sources on failed URLs.
The downside is additional memory usage. If we assume about 50 bytes per URL and say 1000 links in total (it's probably l

[2021-01-19 13:01] MichaIng commented on #114
To avoid much additional memory usage, as long as multiple files are not processed concurrently, instead a variable could hold the currently processed source string, to print it if an URL failed before printing the URL + status itself. On certain verbose level, the currently processed source could be printed directly, instead of on first failure only. A flag (or simply unsetting the variable that

[2021-01-19 23:23] 4x0v7 commented on #115
Thanks! I'll have a look at those examples and see what's possible

[2021-01-21 09:59] mre commented on #106
Ping @praneesha, did you get it working? If not, do you have a repo I can look at?

[2021-01-21 10:00] mre commented on #112
@Wuliyuanulb can we close this or do you have any follow-up questions?

[2021-01-26 11:37] praneesha commented on #106
@mre - Any update on the above?

[2021-01-26 13:42] mre commented on #106
Nope, not yet. Didn't get around to it yet, sorry. It's on my to-do list, though.

[2021-02-02 13:19] alebcay commented on #59
Hi there 👋, I've submitted a pull request for including `lychee` in the Homebrew core repository at https://github.com/Homebrew/homebrew-core/pull/70216.

Just wanted to verify one thing - is `lychee` licensed under _either of_ (at the user's choice) `Apache-2.0` or `MIT`? This was my understanding although I could not find it explicitly stated anywhere.

[2021-02-02 13:33] mre commented on #59
Oh that's so nice of you @alebcay. 🥳 Let's hope it gets accepted. 🤞

Yes, exactly. I've added a paragraph to the end of the `README.md` now to clarify that.

[2021-02-02 13:36] mre commented on #59
Looks like the build failed because `ring` couldn't build:

That seems to be an issue with macOS Big Sur... 🤔 I wonder if that's supported by ring already.

[2021-02-02 13:38] mre commented on #59
Some hints here: https://github.com/ogham/exa/issues/780

[2021-02-02 13:40] mre commented on #59
https://github.com/Homebrew/homebrew-core/issues/68301

[2021-02-02 14:37] alebcay opened #131 "Error: thread 'tokio-runtime-worker' panicked at 'not currently running on the Tokio runtime.'"
I encountered this panic initially in GitHub Actions (someone else has ran into this and has filed https://github.com/lycheeverse/lychee-action/issues/4), but I have been able to reproduce this error in my local environment myself (lychee 0.5.0), so I'm opening this issue here.

Here is the backtrace:
[code]
(This particular trace repeats over and over again, presumably once per problematic link c

[2021-02-02 17:29] mre commented on #131
Don't have much time to look into this right away, but maybe I can note down some pointers for investigation.

Could be related to https://github.com/rust-lang/cargo/issues/7169 and https://users.rust-lang.org/t/problem-tokyo-0-3-thread-main-panicked-at-not-currently-running-on-the-tokio-runtime-solved/50336/6. Perhaps a combination of it.

How did you install lychee? You could try with `cargo ins

[2021-02-02 17:50] alebcay commented on #131
I will try that. I installed it with the Homebrew formula I drafted (https://github.com/lycheeverse/lychee/issues/59#issuecomment-771629071). Homebrew's default for install Rust packages does include the `--locked` flag, though. I will reinstall via `cargo` and attempt to reproduce the issue.

[2021-02-02 19:12] alebcay commented on #131
Reproduced what appears to be the same error after installing with `cargo install --locked lychee`.
[code]

[2021-02-02 20:41] mre commented on #131
Don't have much time to look into this right away, but maybe I can note down some pointers for investigation.

Could be related to https://github.com/rust-lang/cargo/issues/7169 and https://users.rust-lang.org/t/problem-tokyo-0-3-thread-main-panicked-at-not-currently-running-on-the-tokio-runtime-solved/50336/6. Perhaps a combination of it.

How did you install lychee? You could try with `cargo ins

[2021-02-08 09:24] pawroman commented on #131
This is weird because the stacktrace comes from Tokio 0.2.x, while we have 1.x. It would be good to oust the old version.

I have analyzed the dependencies and it seems that the only lib using old `reqwest` version (which uses Tokio 0.2.x) is check-if-email-exists.

There's an open PR to bump the reqwest version on that lib's repo which should get us rid of Tokio 0.2.x: https://github.com/reacherh

[2021-02-08 11:41] mre commented on #131
Good shot. In the hope of solving the problem I sent a PR: https://github.com/reacherhq/check-if-email-exists/pull/869. 🤞

[2021-02-09 14:46] fauust opened #136 "Wrong error on emails in Gitlab-CI"
Hi,
lychee in GitLab-CI wrongly reports error on email addresses, see:
https://salsa.debian.org/faust/go-team.pages.debian.net/-/jobs/1427125#L150-L151

![screenshot_20210209_154154](https://user-images.githubusercontent.com/2197555/107379625-6806c680-6aed-11eb-84e9-455feeadb237.png)

Here is the yaml part:
[code]

When running it locally, no error is detected:
[code]

Am I missing something?

[2021-02-09 21:09] joesan commented on #112
I have a question on this one. How do I specify a root directory under which I want all the markdown files scanned for broken link?

[2021-02-09 21:37] MichaIng commented on #112
[code]
or
[code]
with `/path/to` being the path to that root directory.

[2021-02-09 22:15] mre commented on #112
We use [glob](https://docs.rs/glob/) for that. According to [the docs about patterns](https://docs.rs/glob/0.3.0/glob/struct.Pattern.html),

This also explains why `**.md` doesn't work: `**` can only stand on its own.

Just checked if lychee was picking up the current directory when using a glob.
Created the following file tree:

[code]

Here's the glob test for `ls`:

[code]

And here's the lyche

[2021-02-09 22:16] mre commented on #112
That should answer all questions and we can close this I guess. 😄

[2021-02-09 22:44] MichaIng commented on #112
True, but if the shell did not support it or has `**` support disabled (default in bash), the shell could theoretically expand `*` and lychee would then get a glob with `*` possibly pre-expanded, hence won't find all matches anymore. It's unlikely that there is a file path with literal `**`, but I like to be explicit when spamming shell commands into the world 😄.

[2021-02-09 23:08] mre commented on #112
Oh yeah, absolutely. I recommend to always quote it so that there are no differences with varying environments. Thanks for pointing that out. 👍

[2021-02-09 23:08] #112 closed

[2021-02-09 23:13] mre commented on #136
So I tested it locally by cloning your repo and running the same command and I can verify that it also works for me. Perhaps the CI server is preventing the check.

* Are the necessary ports open? (Namely SMTP port 25)
* Is an SMTP server configured in your CI pipeline?

Here are some tests that you could try: https://www.sparkpost.com/blog/how-to-check-an-smtp-connection-with-a-manual-telnet-sess

[2021-02-09 23:21] mre commented on #131
New release is currently blocked on https://github.com/async-email/async-smtp/pull/36. Without that we can't bump the version of check-if-email-exists (because async-smtp is a dependency) and that means we cannot publish a new version of lychee. (git repos are not allowed as dependencies for binaries published on crates.io.)

That said, we could create a lychee development branch for now and use t

[2021-02-10 09:56] fauust commented on #136
Ok, so I guess you pointed to the exact pb, I am pretty sure that the CI server does not allow SMTP output (and it does not surprise me, wouldn't that be a very nice spam vector).
I didn't know that lychee was doing such a deep check for email addresses, I though it would maybe just verify that email syntax looks good and also that there is a MX for the domain. But very nice to have this BTW!

In

[2021-02-10 11:07] mre commented on #136
I've added support for skipping e-mails entirely in #137.
Now you can add a `--exclude-mail` to your lychee call.

That's fine, though. 😊 Your issue inspired a nice discussion and now we have support for skipping e-mails. 👍

[2021-02-10 11:46] fauust commented on #136
wow, that was fast! Thanks a lot!

[2021-02-10 11:59] fauust commented on #136
and I have just checked, the email check works fine on GitHub actions:
https://github.com/fauust/docker-systemd/runs/1871010280?check_suite_focus=true

[2021-02-11 15:01] mre commented on #106
Tested it locally and the correct command should be:

[code]

Made two mistakes:
* The exclude should be `novacodecamp.org` and not `novacodecamp.com`
* More importantly, the `*.md` was missing. When we set our own arguments, we forgot to append the default ones (`--verbose *.md`). See https://github.com/lycheeverse/lychee-action/blob/master/action.yml#L6 for comparison.

There actually is a littl

[2021-02-11 19:29] joesan commented on #114
Is this in progress or implemented? I raised more or less a same issue here: https://github.com/lycheeverse/lychee-action/issues/11

[2021-02-11 23:14] mre commented on #114
This is not worked on right now. We're looking for contributors.
The idea is to add a `source` field to the `Response` struct as mentioned in https://github.com/lycheeverse/lychee/issues/114#issuecomment-762818873. The overhead should be acceptable.

[2021-02-12 08:07] joesan commented on #114
As a further optimization, could we just limit the printing of the source markdown files for the failing links? Because it is what I'm most interested in, to know which source file has a failing link?

[2021-02-12 11:17] mre opened #139 "Behavior when specifying directory"
Open question: what should be the default behavior if a directory is given?
At the moment we throw and error and stop. Instead, the user has to use a `glob` pattern for recursion, e.g. `**/*.md`.
That doesn't seem to be very intuitive right now. See https://github.com/lycheeverse/lychee-action/issues/3.

Here's my proposal:
If the user specifies a single directory, analyze all supported files (cur

[2021-02-12 11:24] mre commented on #114
Yes, that's the plan. The current output already prints the failing links only, e.g.

[code]

The easiest would be to add the source file like this:

[code]

Would that work for you?

[2021-02-12 11:43] MichaIng commented on #114
The readme contains a link to itself? 😄
It's clear what you mean 👍.

As mentioned above, best overview IMO is served by `liche`. While not everything is perfect, it does some things very well:
[code]
Very easy to spot affected files, to open them in an editor and go through the contained errors. But more complicated to implement with recursion as mentioned above, probably not worth it.

[2021-02-12 21:14] orhun commented on #59
lychee is available in Arch Linux community repository: https://archlinux.org/packages/community/x86_64/lychee-link-checker/

[2021-02-12 22:55] mre commented on #131
The lastest `master` branch contains a fix. If you like to give it a try, you can

[code]

As soon as the upstream version gets released we'll switch back to crates.io and make a new release ourselves.

[2021-02-13 09:13] praneesha commented on #106
@mre - Thank you so much for the solution! However, it still gives the error below.

<img width="1440" alt="Screenshot 2021-02-13 at 14 41 47" src="https://user-images.githubusercontent.com/11707273/107846436-c55e8880-6e09-11eb-8e7a-156fa9dcc36e.png">

You can find the code in my personal repo via this link:
https://github.com/praneesha/ballerina-dev-website/blob/test-lychee-link-checker/.github/w

[2021-02-13 16:10] mre commented on #106
Nice! You can set a base URL to check relative URLs, e.g.

[code]

So the full command should be

[code]

This currently gives me two errors:

[code]

Looks like the first link has moved to
https://ballerina.io/learn/getting-started/installing-ballerina/
and the second can be found through [the search](https://ballerina.io/search?extend%20ballerina), but is [no longer reachable](https://ballerina.

[2021-02-14 05:13] praneesha commented on #106
@mre - Thank you so much! You are amazing! It all works now and I am almost there.

Two more things on which I need your kind help.

1. The details of the report get hidden and only the summary is shown when I give both `--verbose` and `--progress` together as arguments as follows.

`args: /learn/** /1.2/** /_site/** --exclude twitter.com --exclude novacodecamp.org  --verbose --base-url https://de

[2021-02-15 10:12] mre commented on #106
Happy to help. 😃

About your questions:

1. I can see the checked links in your [latest Github action run](https://github.com/praneesha/ballerina-dev-website/runs/1896097152?check_suite_focus=true). Is that what you were looking for?
2. Yeah the issue output doesn't provide an output of the failed links yet, unfortunately. In the meantime I added a link to the full action run. Here is an example f

[2021-02-15 10:19] praneesha commented on #106
1. Yeah, I get the links since I removed `--progress`. If I add both `--verbose` and `--progress` together it gives only the summary. That is the problem.
2. I am not creating a GitHub issue. I just want to download the `out.md` file as an artifact using `actions/upload-artifact@v2`. It works and I could download the file. The problem is it only contains the summary and not the full report.

[2021-02-16 00:30] mre commented on #106
We made two changes to address this.
* The issue report now adds a link to the action run with the full output. This is already in `lychee-action@master`. As you mentioned it won't help you much, because you work with an artifact.
* The second change is adding a summary of all failed URIs to the output. This is currently in PR status and will land soon. See #143.

[2021-02-16 04:55] praneesha commented on #106
Sorry, I am still left with the doubts below.

1. How do I get the full report in my artifact? You mean, it is not possible?
2. How can I get both `--verbose` and `--progress` to work together. Is this is a bug in the Link Checker, which needs to be fixed?

[2021-02-16 08:43] mre commented on #106
Do you really need the full output with all checked links? That's currently not possible. Keep in mind however, that the list can get quite big. 😉
Once #143 is merged you will get a list of _failed_ requests together with the input source. Would that solve your use-case?

They do work together, but `progress` is meant to be used on an interactive terminal, not CI. The progress bar sends control co

[2021-02-16 10:09] praneesha commented on #106
Ok. Will go with what we have now. Thank you so much for all the clarifications! Highly appreciate your kindness. :)

[2021-02-16 10:25] mre commented on #114
Working on this in #143.

[2021-02-17 14:06] mre commented on #131
Gonna go ahead and close this. Should be fixed in `master`.

[2021-02-17 14:06] #131 closed

[2021-02-17 14:07] mre commented on #114
This is merged now. @MichaIng can you give it another shot by installing lychee from the `master` branch? (git clone and cargo install)

[2021-02-17 14:08] mre commented on #114
Same for @joesan 😉

[2021-02-18 00:38] mre commented on #61
Tackling this in #145.
With that, we can simplify it even more! Check this out:

[code]

[2021-02-18 02:21] joesan opened #146 "URL reference to other Markdown treated as E-Mail check"
I'm having a Markdown in which I refer to other Markdown files using the @ notation. For example., to link to another Markdown, I use

`[please have a look here](@/posts/some/path/mk.md)`

When I run it through the action, the above gets checked as E-Mail. Is there a way to ignore such links or to interpret it as a link instead of an E-Mail?

[2021-02-18 13:28] mre commented on #146
If you want to exclude those links while still checking mail addresses, you can try
[code]

(Have not tested that, but it's probably close to what you want.)

If you want to skip all mail addresses from getting checked, try

[code]

[2021-02-18 13:32] MichaIng commented on #114
Is there a certain option required currently? I tested with two input URLs as well as two test files with failing contained links/URLs but do not see the source file or URL after the response code field.

I definitely built from master branch, but the binary still reports v0.5.0, which still needs to be updated? Or did I do something wrong with cargo? Should actually not be possible that it is ind

[2021-02-18 13:40] MichaIng commented on #27
Was already something done on this topic? I was surprised to see URL checking of 100+ MiB downloads being sone in fractions of a second, even when explicitly specifying GET request method:
[code]
The whole download is definitely not done, so it seems to terminate GET requests already after receiving the response code?
Specifying HEAD however runs through a tiny little bit faster, so it still seems

[2021-02-18 13:59] mre commented on #27
No, nothing was done yet. Perhaps reqwest is smart enough to not download the contents unless explicitly requested? Can somebody confirm?
Alternatively, it could also be broken in a subtle way, but we don't treat any web links specially.

[2021-02-18 14:02] mre commented on #27
Added a few fake/invalid links for a test (in addition to the ones you posted above and it seems like they all get spotted properly:

[code]

So it indeed looks like reqwest is working its magic here.

[2021-02-18 15:06] mre commented on #114
Nope, should work out of the box.

The status gets printed at the end including all failed links, very similar to what you describe for liche in https://github.com/lycheeverse/lychee/issues/114#issuecomment-778146698.
I tested printing the source after every reponse, but it was way too verbose in that case. We could add `-vvv` or so to show these, but I doubt that it's helpful.

That's weird. The

[2021-02-18 15:19] mre commented on #146
That said, I'm not sure if these links should be detected at all. The `@` in front of a path is a common pattern in static site generators, so I wonder if we should treat them as differently, e.g. as relative URLs by stripping away the `@/` and applying `base-url` if set.

[2021-02-18 15:38] joesan commented on #146
I was thinking about that as excluding them might not be a good idea as these are indeed valid HTTP links pointing to other Markdown files. So I like your second approach where you check them by prepending a base-url if set, if not check for the file in the same location.

[2021-02-18 17:25] MichaIng commented on #114
The clone is definitely correct:
[code]
But the resulting binary tells otherwise:
[code]
But I see that this should not be possible: https://github.com/lycheeverse/lychee/blob/master/src/client.rs#L17
[code]
I see cargo invokes Git as well, probably it uses the last stable release automatically somehow? I see this "updating crates" tasks before it starts compiling, but I don't know what it is abou

[2021-02-18 17:34] mre commented on #146
Cool, agreed. Will see what I can do.

[2021-02-18 17:42] MichaIng commented on #27
It seems. Embarrassing that we/I am arguing here while a simple test renders it all obsolete 😅. HEAD requests seem faster, but it's difficult to test that reliably as connection times vary simply too much.

The GitHub release URLs do not suffer from HEAD request issues anymore, the following is not an exception, but it's true for really all those cases.
[code]

But in other cases it is an issue:
[

[2021-02-18 17:57] MichaIng commented on #114
Ignore my previous (deleted) post, if you saw it, not sure what I made wrong but now it worked, and I like how you implemented it:
[code]
Twitter btw is expected to fail on all wget/curl GET and HEAD requests as well recently 😉.

I agree, issue well solved IMO, many thanks 👍! @joesan if you agree, I'll close this issue.

[2021-02-18 19:18] joesan commented on #114
I can give it a try. Is it integrated into the GitHub action? Do I change the version simply to 2?

`uses: lycheeverse/lychee-action@v1`

[2021-02-18 19:28] joesan commented on #146
Could you post a reference to the source file that I should look at? I might try to get this implemented!

[2021-02-18 19:32] MichaIng commented on #114
It won't be available through the GitHub action until it's released, I guess, it needs to be manually compiled. If that is currently not applicable for you, and you need more impression of the feature than what I posted above, I can run and post another command. A functional test is probably not required, but more if you're missing something or if the way it's implemented covers the idea you had w

[2021-02-18 21:52] mre commented on #114
Actually it's already in the Github action. 😉

[2021-02-18 22:10] mre commented on #146
Oh that would be cool. Guess you could start by adding your snippet from above as a test right below this one:
https://github.com/lycheeverse/lychee/blob/ae2d02b8a0bb5e186478c5cf6a2d1ecad0c5ac64/src/extract.rs#L263-L268
Then you'd have to follow the trail and see where it fails.

[2021-02-18 22:18] mre commented on #146
And this here needs to be adjusted to check for '@/':
https://github.com/lycheeverse/lychee/blob/ae2d02b8a0bb5e186478c5cf6a2d1ecad0c5ac64/src/uri.rs#L53-L55

Maybe this will also be relevant:
https://github.com/robinst/linkify/pull/8#issuecomment-778605835
linkify only allows URLs with a schema at the moment. They are looking for help to push schema-less URLs over the finishing line.

[2021-02-19 11:08] praneesha commented on #106
@mre - One more thing. I have links given as liquid syntax like below:

`<a href="{{ site.dist_server }}/downloads/{{ site.data.stable-latest.metadata.version }}/ballerina-{{ site.data.stable-latest.metadata.version }}.vsix"`

How can I exclude those from checking?

[2021-02-19 18:14] github-actions[bot] opened #149 "Link Checker Report"
Errors were reported while checking the availability of links.

📝 Summary
---------------------
🔍 Total...........30
✅ Successful......29
⏳ Timeouts.........0
🔀 Redirected.......0
👻 Excluded.........0
🚫 Errors...........1

Input: README.md
   🚫 https://example.com/README.md
      Failed (404 Not Found)

[Full Github Actions output](https://github.com/lycheeverse/lychee/actions/runs/582274569?check

[2021-02-20 12:37] joesan commented on #146
Fixed in PR https://github.com/lycheeverse/lychee/pull/150

[2021-02-20 18:14] github-actions[bot] opened #151 "Link Checker Report"
Errors were reported while checking the availability of links.

📝 Summary
---------------------
🔍 Total...........30
✅ Successful......29
⏳ Timeouts.........0
🔀 Redirected.......0
👻 Excluded.........0
🚫 Errors...........1

Input: README.md
   🚫 https://example.com/README.md
      Failed (404 Not Found)

[Full Github Actions output](https://github.com/lycheeverse/lychee/actions/runs/584748852?check

[2021-02-21 18:08] #149 closed

[2021-02-21 18:08] #151 closed

[2021-02-21 18:09] github-actions[bot] opened #154 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/lycheeverse/lychee/actions/runs/586930826?check_suite_focus=true)

[2021-02-21 18:12] #154 closed

[2021-02-22 05:08] #146 closed

[2021-02-22 05:11] joesan commented on #139
Could we just show the usage and quit? I mean error out but hinting the user with a proper message on how to specify the glob pattern for the directory.

[2021-02-22 09:45] mre commented on #139
That would work. My main question is what a user expects when specifying a directory.
E.g. when they run `lychee docs/`, they probably have some standard behavior in mind. At least I would think that this is checking all known files within the `docs` folder, but I want to hear other people's opinion on that before making a call.

[2021-02-22 13:26] mre commented on #106
Tried to reproduce this. Created a testfile and ran lychee like so:

[code]

It can't find any links, though:

[code]

Anything you're doing differently?
Also, what is the regex you tried?

[2021-02-22 14:50] mre commented on #28
I'm working on this in #156.

Tested vimeo and it seems to be okay with a fake user agent (?):

[code]

This gives me a 200.

[code]

This gives me a 404 as expected.

Perhaps they changed something on their end?

[2021-02-22 16:08] praneesha commented on #106
@mre - Got this to work. I am done with everything successfully.

Thank you so much for the continuous support! Very kind of you and highly appreciate it.

[2021-02-22 16:08] #106 closed

[2021-02-22 17:21] mre commented on #106
My pleasure. Glad you got it to work.

[2021-02-24 23:02] MichaIng commented on #27
I made a test via tshark and ran a lychee check for a single HTTP URL with a several MiB download one with HEAD and once with GET request:
[code]
And once same resource via HTTPS:
[code]
with 73 vs 22 packets, but with sometimes a few packets more or less, probably related caching, keep-alive or similar.

Means, using HEAD requests, less packets and less sent bits are involved, but the overall amo

[2021-02-25 21:20] gj opened #161 "Medium.com links parsed as mail links"
E.g.:

[code]

Presumably this is a bit too eager:

https://github.com/lycheeverse/lychee/blob/cefe38ee25d433dd3b7c61a96ccacbec66aa70a8/src/uri.rs#L59-L61

[2021-02-26 00:23] mre commented on #161
Exactly. Any idea on how to fix that check?
One idea would be to try and parse the part before the `@` as a URL. If that succeeds then assume that the entire link is a URL.

Similar to this:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=aff61feeddf28ae7084cda1015f2ef08

Although in this case the link does not begin with a protocol, so it counts as a relative URL without a

[2021-02-26 00:26] mre commented on #161
In the meantime you could use `--exclude-mail` in case you don't want to check mail addresses anyway. 😅

[2021-02-26 02:08] gj commented on #161
The link actually does begin with `https://` — GitHub Actions UI helpfully (🙄) removes the protocol when formatting URLs.

If you only care about URLs that include a protocol, then that might work. But if `example.com` should be treated as a URL, there might be issues since `example.com@example.com` is a valid email address.

It looks like that `url` crate parses `mailto:` links just fine, so I wo

[2021-02-26 05:29] joesan commented on #161
Would using a Regex to check for E-Mail solve the problem? I mean using Regex to distinguish between E-Mail and URL. So if I can determine using Regex that the given link is an E-Mail, then I'm done. What do you say @mre

[2021-02-26 06:29] joesan commented on #161
I was able to use Regex to differentiate E-Mail from URL, but now it panics saying that it cannot find a URL base:

`thread 'extract::test::test_markdown_email_like_link' panicked at 'Expected valid Website URI: RelativeUrlWithoutBase', src/test_utils.rs:40:34`

[2021-02-26 07:13] gj commented on #161
That's an error from the `url` crate:

[2021-02-26 07:25] joesan commented on #161
Do we prepend the URL with https:// or http:// or both and run it through?

[2021-02-26 18:01] joesan commented on #161
Seems there is a PR for the Linkify library that is used here: https://github.com/robinst/linkify/issues/7

[2021-02-26 19:03] mre commented on #161
Right! Fixing that should fix the problem. The PR is not actively worked on but if you find the time to fix the open issues documented in the issue description then a lot of people would be greatful. 😉

[2021-02-26 19:25] joesan commented on #161
I can try that, but for this case here as a quick win, I will submit a PR that checks for E-Mail using Regex so that the cases without a scheme are not treated as E-Mail. Is that ok?

[2021-02-27 05:30] polarathene commented on #139
Probably makes sense for just checking files within that directory level, but not nested directories that would require a glob pattern. At least, users may be familiar with that with something like `ls` or `.gitignore`(kinda different since it'd ignore the full subtree in this case) when passing a directory?

Otherwise bailing to inform the user that they probably meant `directory/*` (all files in

[2021-02-27 05:42] polarathene opened #163 "Response caching?"
I've seen [another link checking tool mention response caching](https://github.com/stevenvachon/broken-link-checker#cacheresponses):

Which is also paired with a [cache age](https://github.com/stevenvachon/broken-link-checker#cachemaxage) option:

I don't see it documented here if responses are cached by default implicitly. If not, is this something that could help with

I did see [this discussion

[2021-02-27 06:05] joesan commented on #161
Partial fix to not treat Medium links as E-Mail: https://github.com/lycheeverse/lychee/pull/164

[2021-02-27 23:10] mre commented on #163
Oh that's a great idea! We don't cache responses yet. Didn't even think about using a file for storing these responses yet, but I'm all for it.
We could use sled for that, which looks like the perfect fit as it's a file-based, high-perf key-value store written in Rust but it doesn't support key expiry out of the box. We either have to implement that ourselves or look for a different crate.
In any

[2021-02-27 23:16] mre commented on #139
You are right. Bailing makes sense as the behavior is ambiguous. Even worse, the link check could skip over files that the user thinks were included. Happy to accept a PR here.

[2021-02-27 23:18] mre commented on #139
(Just also want to point out that @joesan had the same idea and that I like the teamwork on this one. 😆)

[2021-02-28 04:01] polarathene commented on #163
You could probably just store the expiry in seconds (probably just needs to be an arg actually) with this data along with a unix timestamp to know if the file should be used for cache or discarded. I haven't written rust in a while but [`std::time::SystemTime.duration_since()`](https://doc.rust-lang.org/std/time/struct.SystemTime.html#method.duration_since) looks like it might be sufficient. Other

[2021-02-28 11:59] mre commented on #163
No worries. Thanks to the detailed write-up; I'm sure it will help implementing the functionality in the future.

I'm all in favor of keeping this as simple as possible.

* lychee cache file with creation timestamp
* on start, check if the file is too old. If it is, remove it and create a new one. If it isn't, use it.
* that's it

I don't even think we'd need sled for that. Perhaps just a serializ

[2021-03-02 06:54] polyzen commented on #161
This also causes false-negatives for CDN's, eg.:
`https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js (Invalid mail address: https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js)`

[2021-03-02 13:32] mre commented on #114
Think we can close this.
Summary:
* Part of lychee mater
* Part of the lychee-action@master

[2021-03-02 13:32] #114 closed

[2021-03-02 13:38] mre commented on #56
This is done and merged to `master` now. 🥳

[2021-03-02 13:38] #56 closed

[2021-03-02 13:40] mre commented on #61
Done and done. Merged to master. 😄

[2021-03-02 13:40] #61 closed

[2021-03-02 13:44] mre commented on #115
@4x0v7 any updates?

[2021-03-03 15:16] sethbattin opened #169 "xml namespace false positive http://www.w3.org/1999/xhtml"
I turned on lychee over a set of static content of..."mixed quality".  It started detecting a 404 for http://www.w3.org/1999/xhtml

Once upon I time I may have known what that meant immediately, but if so i had blacked it out.  So grep led me to this line in some poorly cultivated html:
[code]

For everyone else who needs a reminder, this is a ["strictly confirming XHTML1" doctype declaration](htt

[2021-03-03 21:44] mre commented on #169
Let me start by saying that I've rarely seen such a well-written issue description. Your command of the English language is excellent. 😃
On the more technical side of things, we could add a set of "known false positives" &mdash; a blacklist of some sort.
I'd implement it as a `RegexSet`, with patterns similar to the one you mentioned. We have to be careful not to be too restrictive, as [www.w3.org

[2021-03-03 21:55] 4x0v7 commented on #115
haven't had a chance to look into this yet

[2021-03-03 22:10] mre commented on #115
All good. Just wanted to know if you need support. 😊

[2021-03-13 16:49] pawroman commented on #161
I'm seeing issues with this too. Pretty much all medium.com links parse as email addresses. Let me see if I can provide a fix :smile:

[2021-03-13 17:18] pawroman commented on #161
The PR fixing this properly (hopefully! :crossed_fingers:) is up now.

[2021-03-13 17:37] pawroman commented on #59
Issues/PRs blocking homebrew:
- https://github.com/softprops/hubcaps/issues/288
- https://github.com/async-email/async-smtp/pull/36 (needed by `check-if-email-exists`)

[2021-03-13 19:21] baky0905 commented on #161
Hi @mre , I have attempted to use `--exclude-mail           Exclude all mail addresses from checking`  since am not interested in including email, but still it catches the medium articles as emails:

example of the link that was still caught and reported :

↯ https://medium.com/@saswat.sipun/shell-scripting-cheat-sheet-c0ecfb80391 (Invalid mail address: https://medium.com/@saswat.sipun/shell-scrip

[2021-03-13 19:56] mre commented on #161
Thanks. Haven't looked at it yet, but my suspicion is that it's because we do the parsing before the rejection of mail addresses in general.

[2021-03-13 20:00] pawroman commented on #161
The issue should be fixed by #177.

#177 makes it so that links are only parsed as emails if they fail parsing as an URL.

[2021-03-14 19:10] #161 closed

[2021-03-14 19:13] mre commented on #161
This was fixed by @pawroman, who delivered an amazing PR. Should now work in `master` and `lychee-action@master`. 🥳

[2021-03-16 03:39] lenisha opened #183 "relative broken links not detected"
Relative Links in the github pages index.html are broken but not detected:

https://github.com/lenisha/linkchecker-test/runs/2122896789?check_suite_focus=true
[code]

while  index.thml has broken link https://github.com/lenisha/linkchecker-test/blob/main/index.html#L53
[code]
that points to https://lenisha.github.io/linkchecker-test/abouterror.html

Could it be also checked locally? Similar to dis

[2021-03-16 06:46] dependabot-preview[bot] opened #184 "Dependabot needs permission to see async-smtp"
Dependabot couldn't resolve your project's dependencies as it couldn't access [async-smtp](https://github.com/amaurym/async-smtp).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/lycheeverse) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com` make s

[2021-03-16 16:07] pawroman commented on #184
The issue seems to be that the project was moved: https://github.com/async-email/async-smtp

https://github.com/reacherhq/check-if-email-exists should update their dependencies. I have opened an issue: https://github.com/reacherhq/check-if-email-exists/issues/888

[2021-03-16 19:19] lenisha commented on #183
@mre  is there any option to detect problems with relative links right now?
I tried to go against the live website with base-url
[code]

and tried against files files in PR
[code]

non have found the simple error
[code]

[2021-03-16 19:22] lenisha opened #185 "Add support for anchor tags"
Links that point to non existent anchors https://github.com/lenisha/linkchecker-test/blob/main/about.html#L92 are not detected

[code]

[2021-03-16 19:42] pawroman commented on #185
This is a bit of a tricky one. Anchors are really the properties of the document contents, not really being integral parts of the URLs.

What I really mean by that is this:

- You can't tell if an anchor is valid by merely making a request (you can only check the URL path without the anchor)
- To verify anchors, you'd have to parse the HTML and check they're there (but we already do it using html5

[2021-03-16 19:56] pawroman commented on #183
There should be, once https://github.com/lycheeverse/lychee/pull/99 is merged. Right now, link-parsing debugging is a bit cumbersome (e.g. you have to modify the source).

[2021-03-16 20:28] pawroman commented on #27
Looks like I'm late to the party :smile: Happy to hear all that.

It seems to me that this is indeed the case. We don't need to extract the body of the request beyond headers and are only using [`response.status()`](https://github.com/lycheeverse/lychee/blob/52853a961b5d0aedf8230660bab92cd3d90564b0/src/client.rs#L235-L237) (and never the full body) for generic link checks.

Ultimately just how man

[2021-03-17 01:05] mre commented on #27
Yay! Case closed I guess. 👍

[2021-03-17 01:05] #27 closed

[2021-03-17 01:12] mre commented on #183
No clue why it doesn't find the relative links, though. @pawroman do you know why?

[2021-03-17 19:59] lenisha commented on #183
weird thing is when I explicitly point to index.html page it finds it
[code]

[2021-03-18 18:17] TimoFreiberg commented on #55
I'm currently taking a look at this, any ideas on how to best handle this spot? https://github.com/lycheeverse/lychee/blob/00bce9d84e2a256a64c62c0b40cdb334721b3680/src/bin/lychee/main.rs#L132
Right now it seems to me like initializing the bar length before progress starts is impossible if progress is supposed to start with the first Request :/

[2021-03-18 19:34] pawroman commented on #55
@TimoFreiberg nice, thanks for looking into this!

I think that at first the progressbar could be just an "unbounded spinner" indicating link extraction (as per [indicatif documentation](https://docs.rs/indicatif/0.15.0/indicatif/#progress-bars-and-spinners)) and could then be converted into a "progress bar" once some links were buffered up to be checked.

Once the progress bar is rendered, it see

[2021-03-19 11:21] fauust commented on #136
Hi @mre, I am trying to implement the latest alpha version in my workflow, it seems that the option to exclude email `--exclude-mail` is not working:
https://salsa.debian.org/faust/go-team.pages.debian.net/-/jobs/1520656

using:
[code]

[2021-03-19 16:13] fauust commented on #59
Hi! I am happy to help on the Debian/Ubuntu part. But I am not sure about what you want.

Do you want to produce deb packages in CI and make them available as assets (isn't the bin tar sufficient?) or are you interested in having lychee available directly on Debian/Ubuntu repositories?

[2021-03-19 16:58] mre commented on #59
We'd love to have lychee available on Debian/Ubuntu repositories directly.

[code]

would be so lit.

[2021-03-19 16:59] mre commented on #59
And thanks for offering your help. Any support here is highly appreciated.

[2021-03-19 18:03] fauust commented on #59
:)
Ok, but before `apt-get install lychee` is possible, lot (lot) needs to be done, Debian packaging represent lots of work...

Anyway, as in your [bat example](https://github.com/sharkdp/bat/blob/master/.github/workflows/CICD.yml), does it make sense to propose .deb files as assets? Also, for debian/ubuntu packaging, the first thing that comes to my mind and that is missing is a manual page.

[2021-03-22 20:07] mre commented on #136
The exclusion is working, but the parsing of email addresses happened before exclusion; and the parsing failed. @pawroman fixed that in #177 and the change got merged to `master`. The release of 0.6 is blocked on https://github.com/lycheeverse/lychee/issues/59#issuecomment-798677637 at the moment.

[2021-03-23 00:49] mre commented on #183
After thinking about this some more I think I know what's up:
The `html`  file extension triggers the HTML mode in lychee. URLs without any file extensions get treated as plaintext, in which case relative URLs don't exist (currently at least).
We can probably safely assume that a URL returns HTML by default, so we have to change the condition here to return `FileType::HTML` by default if there is

[2021-03-23 06:51] #184 closed

[2021-03-23 06:52] dependabot-preview[bot] opened #187 "Dependabot needs permission to see async-smtp"
Dependabot couldn't resolve your project's dependencies as it couldn't access [async-smtp](https://github.com/amaurym/async-smtp).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/lycheeverse) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com` make s

[2021-03-23 09:50] #187 closed

[2021-03-24 06:48] dependabot-preview[bot] opened #189 "Dependabot needs permission to see async-smtp"
Dependabot couldn't resolve your project's dependencies as it couldn't access [async-smtp](https://github.com/amaurym/async-smtp).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/lycheeverse) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com` make s

[2021-03-24 14:12] frederickjh commented on #78
The lack of recursive spidering make this project unusable for my purpose of checking all links internal and external on a website. I am trying to find a replacement for  [michaeltelford/broken_link_finder ](https://github.com/michaeltelford/broken_link_finder). It is written in Ruby and with out super user access a the new place where this will run it is impossible to install.  I am looking for a

[2021-03-24 23:52] mre commented on #78
#165 is getting very close to completion. It implements the functionality described. If you like to support, please build the version from that branch and test it. Feedback on the pull request is appreciated.

[2021-03-25 09:16] frederickjh commented on #78
@mre I am new to rust but it seemed pretty straight forward as to how to build from [Working on an Existing Cargo Package](https://doc.rust-lang.org/cargo/guide/working-on-an-existing-project.html). However I have run into an issue. At first I thought it was a credential issue but it looks like a 404 issue.

![image](https://user-images.githubusercontent.com/864159/112447909-2145f680-8d52-11eb-81e

[2021-03-25 09:25] frederickjh commented on #78
I dug through the `Cargo.lock` file for  [reacherhq/check-if-email-exists](https://github.com/reacherhq/check-if-email-exists) and found [this line](https://github.com/reacherhq/check-if-email-exists/blob/bbf218ab5e8f379312d922763ce4c87dd66f4a69/Cargo.lock#L140) with the source for `async-smtp`

[code]
So it looks like the source for async-smtp has moved to [async-email/async-smtp](https://github.

[2021-03-25 09:35] frederickjh commented on #78
Just found #189 which is the same issue I reported here as to why the build fails.

[2021-03-25 09:48] frederickjh opened #190 "Consider adding support for image, audio and video links - <img>, <audio> and <video> HTML tags src parameter"
Please consider adding support for links to images, audio and videos. The `<img>`, `<audio>` and `<video>` HTML tags all have the **src** parameter with the link to the source file.

[2021-03-25 11:34] mre commented on #190
These should work already:

foo.html:

[code]

[code]

The current limitation is that you have to use a HTML file for that. If you check a website it won't work right now because of #15, which will be fixed soon.

[2021-03-25 11:48] mre commented on #59
Okay a manpage should be doable. Think clap has a generator of some sorts for that -- at least an unofficial one.
Creating self-hosted debian packages would be an option for now, too. 👍

[2021-03-25 12:02] mre commented on #78
Yeah. Related:
* https://github.com/lycheeverse/lychee/issues/184
* https://github.com/reacherhq/check-if-email-exists/issues/888

We are blocked by upstream at the moment. 😕

[2021-03-25 13:44] frederickjh commented on #78
Ah, upstream [reacherhq/check-if-email-exists](https://github.com/reacherhq/check-if-email-exists) updated to use upstream instead of his fork three days ago. I am guessing he also deleted the fork then, but this project is still using it.

See here: [chore: Update wording around licenses #892](https://github.com/reacherhq/check-if-email-exists/pull/892/commits/47c1dd4e9e9eae7d12c635f6871049643492

[2021-03-26 17:39] lebensterben opened #192 "Feature request: Check usage of HTTP when HTTPS is available"
Often time I'd prefer to use HTTPS urls when it's available, and gets an warning if I didn't use HTTP instead.

It seems that there's no such functionality currently, and it'd be great if users can opt-in for this feature.

[2021-03-28 14:20] mre commented on #192
So you if we find a HTTP link, we check if a corresponding HTTPS link exists and if so, we print a warning? Perhaps in combination with an optional flag `--prefer-https` or so?
Is that what you meant?

[2021-03-28 14:57] lebensterben commented on #192
@mre
Yes exactly!

[2021-03-28 15:20] #189 closed

[2021-03-28 17:07] mre commented on #192
Okay sounds good. Any takers?

[2021-03-28 17:42] lebensterben commented on #192
@mre Let me take a try. I will come back if I need any help.

[2021-03-28 21:25] #169 closed

[2021-03-28 21:40] mre commented on #169
@sethbattin this should be fixed in `master` now.

[2021-03-28 21:57] #63 closed

[2021-03-28 22:43] mre commented on #28
This should be fixed now in `master` because #156 is merged. 🎉

[2021-03-28 22:43] #28 closed

[2021-03-29 10:48] mre opened #198 "404 when checking Youtube Channel URLs"
Checking links to channels like https://www.youtube.com/channel/UCaYhcUwRBNscFNUKTjgPFiA results in a 404.
That's because our quirk for YouTube is a bit too permissive (restrictive?):

https://github.com/lycheeverse/lychee/blob/bcb3933b224175088812823c8d4dd7c09f7395a1/src/quirks/mod.rs#L40

It should only rewrite the request if the URL is a link to a video, i.e. if it contains a `v=XXXX` query par

[2021-03-29 12:52] mre opened #199 "Silently ignore unsupported schemes"
URL schemes like `slack://` or `file://` are not supported, because reqwest doesn't support them.
Nevertheless, they show up as errors in the output, e.g.

[code]

We should silently skip those.
This is not as easy as it sounds.

First I thought about implementing a condition in `extract.rs`:

[code]

where `accepted_scheme` was something like

[code]

This is not ideal, because we'd have to maint

[2021-03-29 14:53] mre commented on #136
@fauust, can you give it another shot? Just released `v0.6.0-alpha2` with the fix:
https://github.com/lycheeverse/lychee/releases/tag/v0.6.0-alpha2

This was made possible by https://github.com/lycheeverse/lychee/pull/196 thanks to @lebensterben.

[2021-03-29 15:23] fauust commented on #136
Hi!
Nope, still red here :(
https://salsa.debian.org/faust/go-team.pages.debian.net/-/jobs/1542439

[2021-03-29 21:29] mre commented on #136
Oh my. 🤦 Forgot to pass the option to the builder. #200 (nice, even number!) should fix this. Added a unit- and and integration test to make sure it never breaks again.

[2021-03-30 07:35] fauust commented on #136
I will test again later today!

[2021-03-30 12:40] mre commented on #136
Alright! Sorry that you had to hang in there for a while and thanks for the feedback. The remaining error seems to be a true [404 link](https://pkg.go.dev/github.com/Debian/pkg-go-tools/cmd/pgt-gopath), correct?
We should probably not show the github token message, as it isn't really a github link. It's because our regex is too permissive: https://github.com/lycheeverse/lychee/blob/036145eb989f61b

[2021-03-30 12:44] mre commented on #136
Gave it a shot here: https://github.com/lycheeverse/lychee/pull/201
Let's move the discussion there.

[2021-03-30 13:10] fauust commented on #136
BTW, I see a diff between https://salsa.debian.org/faust/go-team.pages.debian.net/-/jobs/1543957 and https://salsa.debian.org/faust/go-team.pages.debian.net/-/jobs/1520656, is this something wanted (verbose is less verbose now)?

[2021-03-30 22:10] mre commented on #136
Nope, that wasn't on purpose. Don't know exactly what's going on there. Tried to reproduce it locally with your settings. Everything works as expected (lots of links printed in verbose mode). Here is what I tried:

* ✅ Using v0.6.0-alpha4 on macOS,
* ✅ Compiled from scratch on macOS, everything works as expected (lots of links printed in verbose mode)
* ✅ Using v0.6.0-alpha4 on Debian Linux.

I al

[2021-03-30 23:19] mre opened #202 "Support epub format"
Would be nice to help out creators of ebooks and check for broken links. That seems to be a [real problem](http://epubsecrets.com/when-good-links-go-bad-link-rot-in-ebooks.php).
There is a tool called [epub-linkchecker](https://github.com/atomotic/epub-linkchecker), but development seems to have stalled. I don't know much about epubs, but it looks like it's some XML-like format with normal `<a>` t

[2021-03-31 08:11] fauust commented on #136
Your guesses are correct! Salsa gitlab instance was uprated very recently. I will make deeper tests in the next days and keep you informed if I find some something interesting. Closing this as the skip email option seems OK now.

[2021-03-31 08:11] #136 closed

[2021-04-01 14:12] #198 closed

[2021-04-03 00:22] lebensterben opened #207 "Some serious regression on current head"
[code]

`lychee-head` is a release build with some refactors (I haven't uploaded it yet). The other one is the release build of current HEAD.

There's something wrong here.

[2021-04-03 00:26] lebensterben commented on #207
The following is the release build of the base of my refactor: 9f07d1f5945a0643ab19b4395a86d8669baa29f1

[code]

[2021-04-03 00:40] lebensterben commented on #207
There's something wrong... The benchmark result is not stable.
[code]

[2021-04-03 01:28] lebensterben commented on #207
Well, when benchmarking on real world data, the issue disappeared.

[code]

[2021-04-05 13:54] Ludsrill opened #209 "Analysis gets stuck with --github-token flag"
I am trying to analyze around 7000 links of all kinds, but when I use the --github-token flag this gets slower and slower until it definitely gets stuck ending the analysis for no apparent reason.

This problem is happening to me on Windows and a virtual machine running ubuntu 18.04

[2021-04-05 16:36] mre commented on #209
That's not good.
Usually you should get a 429 (Too Many Requests) in that case, but it should fail immediately.
Is the list of links public somewhere, so we can I can try it on my side?
Does it finish if you don't set a GitHub token?

Long-term, we should move to website-based rate-limiting (#36).

[2021-04-05 16:48] Ludsrill commented on #209
I'm going to try to extract the list of links so you can try to reproduce the problem.

This problem doesn't exist if I remove the flag, but obviously, all GitHub links gonna fail, which is a problem for me, so I decided  to use the --exclude flag to avoid GitHub links, for now, in that way it worked without problems

[2021-04-05 17:21] Ludsrill commented on #209
Here, there are 5889 links, the problem starts when lychee has analyzed about 5860 links

[LINKS.txt](https://github.com/lycheeverse/lychee/files/6259497/LINKS.txt)

[2021-04-06 08:01] spacewander opened #210 "`http://security.debian.org/debian-security|deb` is recognized as a URI"
When I use lychee (version 0.5.0) to check our project, I find that some text is recognized as a URI by mistake.

For example, `sed -i 's|^deb http://security.debian.org/debian-security|deb http://mirrors.huaweicloud.com/debian-security|g' /etc/apt/sources.list` is recognized as two URI: `http://security.debian.org/debian-security|deb` and `http://mirrors.huaweicloud.com/debian-security|g`.

Since

[2021-04-06 09:53] mre commented on #210
Hey @spacewander,
we use linkify for parsing URLs from plaintext. I opened a pull request over there.
https://github.com/robinst/linkify/pull/19

[2021-04-06 10:22] mre commented on #36
Here is an example for how to wrap reqwest with tower: https://github.com/seanmonstar/reqwest/issues/491

[2021-04-06 11:04] mre commented on #209
Thanks for compiling the list. Just tested on my computer and it works.
Without setting the Github token, the process takes about 1 minute.
With the Github token, it takes 2:30min.
The reason is, that without the Github token I get a 429 immediately, while setting it results in a 200, but it takes very long to process all items in the queue. It doesn't get stuck, though.

To avoid overloading the

[2021-04-06 14:11] Ludsrill commented on #209
That completely solves the problem

thanks for your help!!

[2021-04-06 14:11] #209 closed

[2021-04-09 08:56] mre commented on #210
@spacewander, the changes were merged into `master` now. Can you try again by compiling the latest `master`?

[2021-04-09 09:33] spacewander commented on #210
solved

[2021-04-09 09:33] #210 closed

[2021-04-09 09:40] spacewander opened #213 "Weird `/n` suffix added in the URI"
When running lychee, I notice that it report such a broken link:
[code]

Here is a minimal reproduce example:
[code]

Store the text above into `x.md`, and run:
[code]

However, if I put it into stdin, it's OK:
[code]

Not sure if whitespace causes the problem.
[code]

[2021-04-09 10:39] mre commented on #213
Yeah I think it has something to do with the newline at the end of the link, but I don't know.
I ran into the same issue while working on #197 (still unresolved).
Maybe we have to trim the string before converting it to a URL.
What's weird is that it's not a `\n` (newline) but a `/n` (just weird).
If someone finds the reason, please let me know.

[2021-04-09 10:41] mre commented on #213
Another thought: it could be that the `/` gets added to the end of the URL automatically and the `n` comes from `\n` (the newline), but the backslash is just not displayed. 🤔

[2021-04-11 20:21] micalevisk opened #214 "Some YouTube links are reported as `401 Unauthorized` error due to `oembed` API limitation"
Hi! I didn't understand why `https://www.youtube.com/watch?v=MCs5OvhV9S4` is reported as `401` instead of `200` :confused: The same for `https://www.youtube.com/watch?v=iHVs_HkjdmI`

[code]

### steps to reproduce

[code]

---

edit:
related to https://github.com/humhub/humhub/issues/2501

[2021-04-11 20:57] micalevisk opened #215 "Falied to read local file due to `stream did not contain valid UTF-8` but its remote version it is successfully read"
Hey! basically what the title says. I've test it on GitHub's Ubuntu.

https://github.com/lycheeverse/lychee/blob/33e952b428c165aa55f3eee133555c9d53b469aa/src/collector.rs#L119-L121

## steps to reproduce

[code]

[code]

I think this a bug.

[2021-04-12 00:06] mre commented on #214
Hi, guess it's because the YouTube video in question is not embeddable.
https://stackoverflow.com/a/5655148/270334.
This is a bug indeed, but we'd have to find a way to check these as neither oembed nor the YouTube link directly returns a proper status code.

[2021-04-12 00:09] mre commented on #214
These links could be skipped a la https://github.com/humhub/humhub/pull/2502/files, but maybe there is another way to check them.

[2021-04-12 06:16] micalevisk commented on #214
you're right because `curl -I https://www.youtube.com/oembed?url=http://www.youtube.com/watch?v=MCs5OvhV9S4` do return `401`.

https://github.com/lycheeverse/lychee/blob/33e952b428c165aa55f3eee133555c9d53b469aa/src/quirks/mod.rs#L50

What I didn't is why `lycheeverse` can't just do a "normal" request (a direct to the target URL) http request as a fallback (or "retry") to `401` responses to YouTube

[2021-04-12 08:12] mre commented on #214
Normal requests to non-existing videos don't return the expected status code.

[code]

The page exists, but the video does not. Nevertheless it returns a 200 OK.
I'd bet that most link checkers get this wrong.

[2021-04-12 08:41] mre commented on #214
Two alternatives I found on https://stackoverflow.com/questions/1383073/how-do-i-check-if-a-video-exists-on-youtube-using-php:

We could use the new V3 of the YouTube API:
[code]

This requires an API key, though, which not every user will have.
Alternatively, we can check for the video thumbnail:

[code]

I don't know if there will be cases where a video thumbnail doesn't exist, though. Otherwise

[2021-04-12 11:07] mre commented on #215
We read the input into a String and expect UTF-8.
So this also fails:

[code]

With the same error:

[code]

That means, the document doesn't contain UTF-8.
More specifically, the input file is UTF-16:

[code]

It was most likely created on Windows.

Now the question is if we should _expect_ valid UTF-8 at all. I don't think so, because there are other file formats, which should be completely fine

[2021-04-12 12:41] mre commented on #213
This is fixed in `master` now. Thanks for reporting.

[code]

[2021-04-12 12:41] #213 closed

[2021-04-12 14:46] #183 closed

[2021-04-12 14:53] mre commented on #183
@lenisha, this is fixed in `master` now. Will publish a new version of the lychee-action (1.0.7) shortly.

[2021-04-12 15:32] mre commented on #190
This should be fixed in `master`. Can you check again @frederickjh?

[2021-04-12 15:33] mre commented on #190
Closing this to keep the issue tracker clean. Feel free to reopen if you still run into issues. 😃

[2021-04-12 15:33] #190 closed

[2021-04-12 16:24] micalevisk commented on #214
thanks @mre! The second one sounds good to me. Since youtube is all about thumbnails, I'm pretty sure that this approach can be used.

When you release an alfta version let me know (by closing this issue) so then I will test it with this repo: https://github.com/jwasham/coding-interview-university (there's a ton of youtube videos in there)

[2021-04-12 16:46] micalevisk commented on #215
Got it! thanks. Now, to me, this behavior is desired, isn't bug :P

I'm trying to use the GitHub Action to check the links in that repo (which I don't have any control). I'll filter the file's encoding to use lychee using the remote link instead of the local file. Or maybe I'll just convert files to UTF-8 before.

[2021-04-12 16:46] #215 closed

[2021-04-13 08:32] frederickjh commented on #78
[Upstream is reporting](https://github.com/reacherhq/check-if-email-exists/issues/888#issuecomment-811371149):

but I still cannot bulid from the `simple-recursion` branch, so I think something needs work there too be for this will build.

[2021-04-13 21:37] lebensterben commented on #207
Closing as #208 will make this irrelevant.

[2021-04-13 21:37] #207 closed

[2021-04-13 22:54] micalevisk commented on #214
just to summarise what I've tested:

| video visibility |  `https://www.youtube.com/oembed` returns | `https://img.youtube.com/vi/{video_id}/0.jpg` returns |
|:--|:--|:--
public | `200` but `401` if isn't embeddable | `200`
unlisted | `200` but `401` if isn't embeddable | `200`
private  | `404` but `401` if isn't embeddable | `404`
partially blocked video | `200` but `401` if isn't embeddable | `2

[2021-04-14 07:37] frederickjh commented on #78
So, I think that the version of `async-email/async-smtp` needs to be upgraded from 0.8.19 to **0.8.21** for the `simple-recursion` branch to build.

[2021-04-14 09:20] mre commented on #190
Great success! 🥳

[2021-04-14 09:21] mre commented on #78
Thanks for the info. I'll tackle that once #208 is merged. 😄

[2021-04-14 10:17] mre commented on #214
Alrighty. Thanks for the investigation. I can't see any downside from using the thumbnails then. 😀

[2021-04-14 10:19] mre commented on #214
You might want to link your research from the StackOverflow post [here](https://stackoverflow.com/a/60030459/270334)

[2021-04-14 20:53] lebensterben opened #223 "Status of unused dependencies"
There are a few unused dependencies
- `openssl_sys`
- `ring`

`ring` is supposed to solve build issue on Apple M1 architecture. But is it still needed?
Someone mentioned that `exa` had the issue and `ring` can solve it. But how? There's no
`use ring` in the entire crate. Also, I don't see anything mentioned about `ring`, either
in its manifest, or in the homebrew recipe: https://github.com/Homebre

[2021-04-14 21:28] mre commented on #223
hubcaps [depends on jsonwebtoken 7](https://github.com/softprops/hubcaps/blob/a9e6616ecc7b8eef0ea0eaf6055d9610c8961500/Cargo.toml#L29), which [depends on ring](https://github.com/Keats/jsonwebtoken/blob/2f25cbed0a906e091a278c10eeb6cc1cf30dc24a/Cargo.toml#L17), which is [not ready for Apple Silicon](https://github.com/briansmith/ring/issues/1163). The advice is to explicitly depend on a newer versi

[2021-04-14 21:31] mre commented on #223
But I'd be more than happy to remove that or at least put it behind a gate.
Also, maybe we should be good OSS citizens and get send PRs to the deps in question.

[2021-04-14 23:06] lebensterben commented on #223
Also I think we should have a new feature flag `serde` that controls whether `serde` is enabled for dependencies.

[2021-04-14 23:35] mre commented on #223
Good idea. 👍

[2021-04-15 03:34] lebensterben commented on #223
As for `ring` and `openssl_sys`, I confirm that they cannot be built for `aarch-apple-darwin` target.
`hubcaps` requires `ring`. So one simple solution is to replace it with `github_rs`.

[2021-04-15 04:07] lebensterben commented on #202
well there's a nuclear option...

We can always convert anything to html, by pandoc.
The downside is, it's parsed twice, by pandoc and html5ever (if the output is html).

[2021-04-15 18:29] github-actions[bot] opened #226 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/lycheeverse/lychee/actions/runs/753047323?check_suite_focus=true)

[2021-04-15 22:53] #226 closed

[2021-04-16 06:34] lebensterben opened #227 "MIT license are not complete"
See https://choosealicense.com/licenses/mit/

The year and author is missing.
This issue also occurs in other repository in this organisation.

[2021-04-17 17:55] mre commented on #227
Nice catch. Should be fixed on `master` now.

[2021-04-17 17:55] #227 closed

[2021-04-18 18:08] seisman opened #230 "Fail to parse Google Analytics tracking URL"
Our site (https://www.pygmt.org/dev/) uses Google Analytics tracking codes like:
[code]
Running `lychee` gives the following error:
[code]

[2021-04-19 12:44] mre commented on #230
That's an upstream problem in [linkify](https://github.com/robinst/linkify).
See https://github.com/robinst/linkify/issues/20

[2021-04-22 23:23] #214 closed

[2021-04-22 23:23] mre commented on #214
This should be fixed in `master` now.

[2021-04-23 10:19] mre opened #234 "Handle unknown status codes"
A Lychee worker panics when encountering a website with an invalid and unaccepted status code.
For example, LinkedIn returns the status code 999 by default.

[code]

This results in the following output:

[code]

A workaround is to accept the status code like so:

[code]

Also we can handle LinkedIn with a quirk by using a different user agent.

But in general we are missing a case where a request

[2021-04-23 13:55] lebensterben commented on #234
M$ is evil.😡

See this https://stackoverflow.com/questions/27231113/999-error-code-on-head-request-to-linkedin

It's reported that:
- Its server filters both UA and IP
- There's a rate limit of several dozens request per day

Changing UA is probably best thing we can do.
Accepting a different status code is weird. Because 999 is a legitimate error. If we accept it we don't have a way to identify a

[2021-04-23 16:24] lebensterben commented on #234
BTW.
I'm currently working on some other stuff now. I'm likely to be occupied by them this month.

[2021-04-24 13:43] mre commented on #234
👍

True. Let's just make sure we don't panic when we encounter that case, but handle it gracefully instead. 😆

No worries. If anyone else has to the time to look into it before, feel free to add a comment here.

[2021-04-24 13:45] mre commented on #59
@alebcay, thanks so much for adding lychee to homebrew.

[code]

works as expected. ✌️

[2021-04-26 12:21] mre commented on #223
Can we close this?

[2021-04-26 14:20] lebensterben commented on #223
not really..
They're not added to optional dependencies yet.

[2021-04-26 14:20] mre commented on #30
So after looking at the code again, I'm not sure if there's anything left to do here.
At the moment we accept any HTTP status code and don't retry if we get a "valid" response.

https://github.com/lycheeverse/lychee/blob/2a80760f586688e8512e895da49709314375b1bc/lychee-lib/src/client.rs#L191-L193

So no matter if we receive a 200 or a 404, we don't retry. Only if there was an invalid status code we

[2021-04-26 15:16] #199 closed

[2021-04-26 16:38] mre commented on #234
Question: from an API perspective, would you rather expect to get a valid status like `Status::Other(999)` in that case or an error like `ErrorKind::StatusCodeError(code)`?
I'd say it's not really an error, because we can always hit an unexpected status code like 123456. But it also feels weird to have an "Other" type for any status we don't understand. 🤔

[2021-04-26 16:39] mre commented on #230
PR over at https://github.com/robinst/linkify/pull/21

[2021-04-26 17:34] lebensterben commented on #234
Is it possible to have non standard status code? Is it supported by reqwest client?

[2021-04-26 17:49] mre commented on #234
Yeah, `reqwest` supports status codes up to 999:
https://docs.rs/reqwest/0.11.3/reqwest/struct.StatusCode.html

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=024b928f430609198616e59c8ea95eb5

[2021-04-26 17:51] mre commented on #234
My idea is to accept everything that reqwest accepts and return an error for invalid status codes.

[2021-04-26 17:52] lebensterben commented on #234
What I was asking is, is it possible to have status code > 999...

[2021-04-26 17:54] lebensterben commented on #234
Probably it's possible to have any status code.
But if the server side is correctly implemented, it should never ever return non standard status code...

[2021-04-29 17:02] mre commented on #234
The web is a weird place. I'm pretty sure we'd be able to find any status code we'd like out there. 😉 lychee shouldn't panic in any case.

[2021-04-29 17:09] lebensterben commented on #234
that's right.

Something like `ErrorKind::StatusCodeError(code)` should be the way to handle this.

But the name can be more informative, like "UnknownStatusCode". Basically it catches any code > 999. But it cannot catch the case when the server attach non-standard meanings to status code. That's something we cannot cover.

[2021-04-29 17:18] lebensterben commented on #234
Also, if we found some website returning non standard status code, we may emit a special warning (in addition to the error message it self) in the output.

This is because, should a server going rogue, i.e. sending non standard status code, we would not be sure the 200 status code means it's OK.

There are different strategies when such case occured:
- Halt all threads and add the domain/host to e

[2021-05-07 15:12] frederickjh commented on #78
@mre I see that #208 got merged back in April. Let me know if you get this branch to the point where it will build and I can then test it.

[2021-05-18 21:56] mre commented on #230
Upstream PR is merged now. 🎉

[2021-05-19 07:20] mre commented on #230
This should be fixed on lychee `master` now.

[2021-05-19 07:29] mre commented on #230
Given your input, I get the following output with lychee:
[code]

Will cut a new version soon.

[2021-05-19 09:29] frederickjh commented on #78
@mre I am still willing to test this but I will be finished with my current job in second week of June and may not have a need for it after that for a while. I would like to get this setup to replace the current program that we are using to check for broken links that I cannot easily move to a shared server because it is ruby. Let me know if you get the version of  `simple-recursion` changed so th

[2021-05-19 11:58] mre commented on #78
Thanks for your patience. Want to work on this as soon as I find the time. No guarantees this will be soon, though. 😅

[2021-05-24 04:42] buddhist-uni opened #252 "v0.7.0 cargo build fails"
Hello! I'm trying to run lychee locally on the Ubuntu WSL (which, unfortunately, rules out docker).

I ran `cargo install lychee` and got the following compiler error:

[code]

Any ideas?  Thanks! 😄

[2021-05-24 05:29] lebensterben commented on #252
update your rustc

[2021-05-24 06:18] buddhist-uni commented on #252
Nvm - I just wanted the binary, which I have since downloaded and successfully been using. Thanks 😄

[2021-05-24 06:18] #252 closed

[2021-05-24 07:23] buddhist-uni opened #253 "Underscores in URLs sometimes break the (markdown?) link parser"
The following URLs in markdown files in my repo are being parsed incorrectly by v0.7.0:

| My URL | Is getting parsed as |
-----|----
| `https://upload.wikimedia.org/wikipedia/commons/6/6d/Arahats_-_Flickr_-_odako1.jpg` |  `https://upload.wikimedia.org/wikipedia/commons/6/6d/Arahats` |
| `https://upload.wikimedia.org/wikipedia/commons/e/ec/%28Above%29_sBed-byed_%28Gopaka%29%2C_holding_a_book%3B_We

[2021-05-24 10:35] buddhist-uni commented on #253
Here is a simple markdown file which demonstrates the bug: [underscore_urls.md](https://github.com/lycheeverse/lychee/files/6531686/underscore_urls.md)

[2021-05-24 13:17] mre commented on #253
Thanks for reporting @buddhist-uni.

The underscores (`_`) have a special meaning in Markdown and emphasize the enclosed text, so `_hello_` becomes  _hello_.
As a result, our Markdown parser emits separate events for the different sections of the URL:

`example.org/_hello_` would emit `MDEvent::Text("example.org")` and `MDEvent::Text("hello")` as individual events; so by the time the text reaches

[2021-05-24 13:57] lebensterben commented on #253
@mre

Would underscore break reference link?

[code]

[2021-05-25 03:03] buddhist-uni commented on #253
Thanks for the reply!

I understand that _'s mean italics in Markdown, but not in the_middle_of strings: only _at the ends_ of words.

Here is one of those links, happily parsed correctly by GitHub Markdown:

- http://www.karunabv.org/uploads/1/2/6/3/12630738/chanting-kbv__2_.pdf

As far as I'm concerned, if you're parsing md in a way that's different from everyone else: that's a bug.

I'm using J

[2021-05-25 03:16] lebensterben commented on #253
@buddhist-uni
I agree with @mre that you should use standard links, either inline links or reference links.
See https://spec.commonmark.org/0.29/

No. What's incompatible is GitHub, or more specifically GFM.

The parsing is stricy complicated to common mark.

[2021-05-25 03:18] lebensterben commented on #253
we'd provide an optional feature to support gfm via https://lib.rs/crates/comrak

this is not always desirable, so it should be optional.

[2021-05-25 03:21] buddhist-uni commented on #253
and Kramdown, which I'm using, and others.

In any case, since I'm not going to be the last person to use nonstandard markdown, a flag to turn off the markdown parser might be a good idea. :)

[2021-05-25 03:44] buddhist-uni commented on #253
Yeah, the problem is that Jekyll's "markdown" files aren't really markdown (even though they have the `.md` extension): they're actually Kramdown files with Yaml/json (!) on top 😞 That yaml is where I'm storing most of my links, and that's the reason I can't just wrap them in brackets.

[2021-05-25 04:34] lebensterben commented on #253
you can always generate HTML first and then check the links.

This is easier for both of us.

[2021-05-26 05:43] buddhist-uni commented on #253
Yes: I have ways to get around this bug if you'd rather not fix it. It's your project. Perhaps you should add a "GitHub / Jekyll Markdown Files" column to your README chart with an ❌ if you're not planning on supporting them? 🤷‍♂️

But, I am curious what cases your md parser handles _correctly_ that the naive parser doesn't, because it occurs to me that the current behavior isn't even correct for

[2021-05-26 08:19] buddhist-uni commented on #253
Looks fine to me:
![FAA11ACE-F10A-43DD-B95D-AA2E477A8327](https://user-images.githubusercontent.com/61610173/119626150-1c2a2400-be35-11eb-976b-fab3f4bea1fb.jpeg)
Shouldn't the parser just toss the span tag? Why not just stick to actual links (<a> tags, etc)?

But anyway: this is why I can't "easily" Lychee my generated html

[2021-05-26 08:32] lebensterben commented on #253
great question.

[2021-05-26 08:43] mre commented on #253
Because nobody ever encountered that case and so there is no rule to exclude `<code>` blocks yet.

We could check the element type here and exclude codeblocks:
https://github.com/lycheeverse/lychee/blob/1865f7a309cba21af1c2d7e98e2ccaad0810c120/lychee-lib/src/extract.rs#L104-L108

[2021-05-26 09:31] buddhist-uni commented on #253
Now we're talking!

That would fix it for me, though I'm afraid it might break other people who want to parse a code block?

Perhaps a runtime flag: `--exclude-tag=code` could let users specify any tag types they want to skip? Like `--exclude-tag=script` might be popular too.

In the (distant) future, that option might even be extended to support `--exclude-tag=#id` and `--exclude-tag=.class`. Wha

[2021-05-26 10:11] mre commented on #253
Mixed feelings.

This would surely allow fine-grained control over lychee's behavior.
On the other hand, users have to be aware of the underlying issue first and then know about the parameter, which can resolve it.

The entire parsing topic is a rabbit-hole. 🐰

Supporting different (Markdown) parsers sounds like a good alternative to me. We should at consider one that supports Github Flavored Mark

[2021-05-27 06:06] buddhist-uni commented on #253
Just to follow up, [I did this hack](https://github.com/buddhist-uni/buddhist-uni.github.io/runs/2681961902) and indeed it worked as expected. So, for any future people having this issue, I added this step to my workflow:

[code]

then ran lychee on `**/*.txt` instead of `.md`

[2021-06-01 12:45] frederickjh commented on #78
@mre Patience I have, but time is running out. I finish at my current work place on June 9. I had hope to use this to replace a Ruby broken link checker that is running on an in-house server I need to decommission. I need something I can run on shared hosting with out needing to install a bunch of dependencies I don't have permission to do so.
So, if you could find a little time this week to get t

[2021-06-11 12:46] MichaIng commented on #21
We finally migrated from `liche` to `lychee`, and I have to say, the performance is awesome in comparison. ~280 links on our website are checked in **2** seconds (according to GitHub action), while liche took minutes, regularly failed with a timeout, I guess VM-side, and recently was killed by the VM due to OOM, if I got the error code correctly. Not sure what it did, probably it indeed did downlo

[2021-06-11 12:50] MichaIng commented on #199
Many thanks, I just recognised this and am looking forward for the next release to contain this fix 👍.

[2021-06-11 12:58] MichaIng commented on #185
HTMLs are parsed for link extraction on the *input* HTML documents, but not for the *target* HTML documents. So it would required to first check whether the target is actually an HTML document, then download it fully (currently it is only partially downloaded or not all all when using `-X head`) and then parse the target HTML for a matching `id` attribute.

When support for internal links via file

[2021-06-11 13:08] MichaIng opened #259 "Exclude URLs based on HTML tags"
Currently `lychee` seems to check each an every URL found in the HTML document.

Generally there is nothing bad about it. We previously used `liche`, which only checks specific tags and attributes.

While generally checking URLs from text is not bad, IMO, it would be great to be able to exclude certain elements, not just based on the URL itself. As HTML files are parsed already as such, it should

[2021-06-11 13:34] mre commented on #259
For HTML that would work as the tags have names. Not sure about Markdown or Plaintext. If we add an option like `--exclude-tags=pre,code`, what would be the behavior for Markdown? Simply ignore it (which might be confusing) or throw an error (which might be frustrating) or something else?

In general, I wonder if it makes a difference whether a link occurs inside or outside a `pre` tag for example

[2021-06-11 13:39] mre commented on #21
Want to prioritize this when I get the chance.

[2021-06-11 16:46] MichaIng commented on #259
I personally check links in Markdown only after building the HTML pages from it. But I agree it should be made clear, when adding such an option, that it can and does only apply for HTML input files, e.g. start with naming it `--exclude-html-tags`, or so. In Markdown things are much more complicated, due to the many extensions and ways to create code blocks and inline code, effective also based on

[2021-06-11 22:19] lebensterben commented on #259
lychee should first distinguish strict and fuzzy link detections.

strict means a string is a link if and only if it's rendered as a hyperlink in a HTML file. This naturally exclude tags like code or pre.

fuzzy means a string is a link if it's a valid URI of the scheme we support.

after implementing this, it's easier to offer finer control to users.

[2021-06-12 00:30] polarathene commented on #21
In some cases where you link with a `#fragment`(anchor) to a heading to jump/scroll to on the page, you'd also want to ideally verify that is valid too. That [isn't a feature supported yet](https://github.com/lycheeverse/lychee/issues/185), but may eventually be relevant to consider.

[2021-06-12 09:17] MichaIng commented on #21
Not sure how it is related to local file checking, but checking for scroll links within the input file is actually a doable case for #185 I didn't think about.

[2021-06-12 09:37] MichaIng commented on #185
For reference the hint by @polarathene: https://github.com/lycheeverse/lychee/issues/21#issuecomment-859969005

Another case where the difficulties with target downloads etc do not apply, and probably this is what you had in mind anyway, is to check for scroll links within the input HTMLs. so if there is an `<a href="#heading">`, to check whether there is an `id="heading"` as well. If such is want

[2021-06-12 12:26] polarathene commented on #185
Response headers should provide info about content size, completing a request in full (eg downloading a large resource) shouldn't be necessary and could be terminated early AFAIK?

[2021-06-12 12:31] polarathene commented on #21
Markdown documents for documentation generators like mkdocs? These can have relative filepath links (or just a local heading reference on the same document) via markdown syntax, which is later parsed and converted into anchor links in HTML output.

[2021-06-12 12:36] MichaIng commented on #185
If you want to check whether the an URL fragment is valid or not, you need to download the whole document of course, which is the whole issue I see here, as long as it's not about same-page links or local files. Currently the download is terminated early, reasonably, so currently it is impossible to apply this feature for remote HTML documents without changing the download behaviour based on such

[2021-06-12 12:45] MichaIng commented on #21
I got it, but this request is covered by #185, while here it's only about the ability to check internal links via local file existence, not at all about the URL fragment 😉. Fragments in Markdown files is difficult, since there is not native Markdown syntax to assign an element ID. There are extensions for this, some to apply them manually, some to apply them automatically, so it would require a hu

[2021-06-12 13:30] polarathene commented on #185
Downloading a complete HTML document to operate on isn't much of a concern vs larger files which I thought was being raised as the concern but could be avoided.

You make a good point though, especially with some HTML documents that are dependent on JS to populate the real content, such as React pages without any pre-rendering process involved. That'd require actually loading and running the JS..

[2021-06-12 13:31] lebensterben commented on #185
If other attributes of 'a' tag is provided, you can use that to help you determine whether to download that webpage, or whether it links to webpage, etc. But it gets complicated.

https://html.spec.whatwg.org/multipage/links.html#links

[2021-06-21 14:20] mre commented on #259
Agree with both of your comments. I guess your ideas would fit together quite nicely.
The collector could return links with a `tag` field, that would be an HTML tag. We'd classify those as strict or fuzzy, so a `pre` would be fuzzy for example.
We could think about using different words than strict/fuzzy like hyperlink/plaintext or just link/text, but I like the proposal in general.

[2021-06-22 11:37] MichaIng commented on #259
While checking our forum for outdated links, I recognised that also shortened URL text within anchor tags are scanned. phpBB shortens long URLs. so that such an element is produced:
[code]
`lychee` now checks the URL itself but as well the text, where it identifies `https://example.com/loong/looong/url/th` as URL, which of course fails.

So once a basic functionality exists to exclude URLs/text ba

[2021-06-22 20:25] mre commented on #259
That's odd. If this is a file with a `.html` extension, it should have skipped that shortened version. Can you double check that this is the case?

[2021-06-22 23:44] MichaIng commented on #259
Ah this was when scanning URLs (with `.php` extensions and query string) and no local files. In case of URLs as input, it's of course harder to derive/guess the type 🤔. `content-type: text/html` response header could be used to interpret it as HTML, but I'm not sure how reliable this is, compared to a file extension. Otherwise additionally a contained `<html>` tag? But then it's getting complicate

[2021-06-23 21:15] ylwu-amzn opened #267 "Support deny list"
## Problem
We migrate our public documents to a new URL and we need to check if there are old links. But seems `lychee` doesn't support deny list currently.

## How to solve
Can you support new option like `--deny *abc.com/*`, so we can check if there is old links and can fail quickly.

[2021-06-23 21:26] lebensterben commented on #267
Just use `--exclude`

[2021-06-23 22:36] ylwu-amzn commented on #267
Thanks @lebensterben. I think `--exclude ` means we will exclude these links and just skip checking them, right?

[2021-06-23 22:38] lebensterben commented on #267
okay I misunderstood you question.

[2021-06-23 22:43] lebensterben commented on #267
lychee is a link checker, which mainly verify whether a given link is valid, by testing whether it's accessible.

If you want to make certain URL patterns fail regardless of whether it's actually accessible, I don't think it's really what a link checker should do.

If, for example, you want to blacklist a whole IP or domain, you can add it to /etc/hosts with a `localhost`, `loopback`, etc.

[2021-06-24 09:50] MichaIng commented on #267
To find specific URLs in your website repository, `grep` should work fine:
[code]
This  searches recursively through all plain text files (including HTML) from the current working directory and prints all matches, including the file name. Since this is something that needs to be done once only, it does not require to do any HTTP connection check and there are native system tools to check for patte

[2021-06-24 12:44] eyarz opened #268 "include more information in the JSON output"
Today, the JSON output only prints (only) detailed information about the links that failed:

[code]

It will be better if JSON output will also include detailed information about the other links ("successful", "timeouts", etc.).

I'm not a Rust developer, so before I try to figure out how I can help with that, is this something that we will be accepted if will open a PR?

[2021-06-24 15:34] lebensterben commented on #268
It consumes more memory if you'd want to store the status of successful links.

[2021-06-24 15:45] MichaIng commented on #268
Probably in combination with `--verbose`/`-v` flag only?

[2021-06-24 16:33] mre commented on #268
Thanks for the feature request @eyarz.
We can add that, although as @lebensterben said, it would increase memory usage and especially for bigger websites and recursive requests that could be quite significant.
We could store it in verbose mode, however I wonder if excluded or redirected URLs should also be added then.
I was wondering if we want to add multiple levels of verbosity at some point (li

[2021-06-24 18:20] ylwu-amzn commented on #267
Thanks. That's what we are doing now to use grep.
One concern is that some developer may put old website links in code and they are not aware of that. If `lychee` can support this, we can automatically check this with Github action. That can avoid manual effort.

[2021-06-24 18:39] mre commented on #267
Would https://github.com/lycheeverse/lychee/pull/99 work for you?
It wouldn't perform any link checking. Instead, it dumps all the links extracted from inputs that would be checked.

[2021-06-24 18:42] MichaIng commented on #267
Is it really that much effort to add a dedicated `grep` job to a workflow compared to an additional argument for the existing `lychee` workflow?

I'm currently not sure which user agent `lychee` has, but another approach would be to block the request based on it webserver-side. Or add a hosts entry on the GitHub actions VM so that `lychee` fails to resolve that domain (**EDIT: Ah, already mentione

[2021-06-24 19:13] ylwu-amzn commented on #267
Thanks @MichaIng , this looks good `! ./lychee --no-check [...] | grep -q 'abc\.com'`

[2021-06-24 19:24] lebensterben commented on #267
Well, if we redefine `lychee` as both a link ___checker___ and a link ___linter___, then this feature request is for the linter capability.

[2021-06-24 19:45] lebensterben opened #269 "Re-define `lychee` as both a link checker and a link linter"
Currently, `lychee` is just a link ___checker___, which conceptually has the following components:
1. It parses a config file or CLI argument, and turns it into an internal configuration
2. An __overseer__  is created given the configurations. It serves several purposes:
   - Detection: It detects/scrape HTML links and EMAIL addresses from the input file(s)
   - Filtering: It checks whether the li

[2021-06-25 18:04] T145 opened #270 "Select Markdown links based on their tag"
Something like:
[code]
Would then exclusively select all links formatted as such:
[code]

[2021-06-25 18:07] T145 opened #271 "Raw output option"
Instead of #268, have a raw option to generate output that doesn't include emoji and the process indicator. This will help the results be piped into other programs like `jq` that people can then use to transform into JSON on their own. It could look like:
[code]

[2021-06-25 18:10] T145 opened #272 "Have the output summary be optional, and just generate a list of the errors as the default"
Assume we just want to see errors and not the summary. Ties into #271.
[code]

[2021-06-25 18:22] lebensterben commented on #271
This is a good point.
Rust programmers are used to UTF compatibility but in reality other components in the toolchain may not be UTF compatible.

Meanwhile, if you can tell lychee to output results in JSON format. That's friendlier for jq.

[2021-06-25 22:43] MichaIng commented on #270
Somehow similar to #259.

What you call "tag" here, is the link text `<a href="https://github.com/lycheeverse/lychee">text</a>`. I wonder if this is a generic enough component to base an include/exclude option on, as this text usually is different on every link, or you use `<https://github.com/lycheeverse/lychee>` to have it matching the URL itself, and even the brackets are optional for most inte

[2021-06-25 22:53] T145 commented on #270
@MichaIng There could be a similar `--html-tags` flag that when present only includes the elements specified. If you want to get gritty about specific elements, a valid tag option could be something like CSS syntax to select an element.

[2021-06-25 23:37] MichaIng commented on #270
CSS selector syntax would be awesome indeed. But I wouldn't want to put to burden onto the devs for implementing such a complex parser, so I guess it depends on whether there is a reliable library which can do it nicely.

[2021-06-25 23:54] lebensterben commented on #270
The implementation is not hard.
But in what kind of scenario would a typical user want to filter links by link text?

[2021-06-26 00:59] T145 commented on #270
Grabbing specifc links aids automation immensely. It really makes using this in a GitHub Action environment more favorable.

[2021-06-26 01:22] lebensterben commented on #270
In CI the normal use case is to blindly check any links if found, with optional filtering based on link pattern (that's already supported).

Adding the suggested function just doesn't add extra utility to normal CI users.

[2021-06-26 01:27] lebensterben commented on #270
There's an alternative solution which probably can suit your needs.
We can have `lychee` logs failed links in a file, and add an option to `lychee` or its CI workflow to 'resume' the previous job by only checking the failed links.

[2021-06-26 01:47] T145 commented on #270
Other utilities can be used to do that though. My point is that some level of taking away the "blindness" would be good in general. The reason that use case is the most you've seen is b/c anyone who needs just that picks up this utility. Anyone else who needs something different will immediately try to find a better solution. I haven't been able to find another All-In-One utility that can just pic

[2021-06-26 09:04] MichaIng commented on #270
But is it really the link _text_ that you want to match against? I mean to you have a lot of "Read more" links, and need to check those exclusively? I also can't really imagine a use case without at least a more generic identifier, like a class other other kind of mark, like mentioned above, which indeed is especially difficult in pure Markdown. This is also the reason why we do not check the Mark

[2021-06-26 09:09] MichaIng commented on #259
Adding [this](https://github.com/lycheeverse/lychee/issues/270#issuecomment-868870776) idea here: CSS selector syntax based excludes (and exclusive includes, if it turns out there is a wider use case for such) would be awesome. But I guess that's hard to achieve by hand, so only if the underlying HTML parser or other library supports such already.

[2021-06-26 17:09] T145 commented on #270
The link text wouldn't be what's matched: it'd be the tags.

Another cool thing I thought of could be mixing the `html` and `md` tag selection flags, and only have a single comma indicate when you want none. Usually there would be multiples delimited by comma. E.g. this:
[code]
Would select all Markdown links in the `[link](mylink)` format and ignore all html links included in the document.

[2021-06-26 17:14] lebensterben commented on #270
this doesn't fit into standard *nix CLI style.

[2021-06-26 17:57] MichaIng commented on #270
@T145
Did you try it? In `[link](mylink)`, `link` is the link text. The concept of a "tag" doesn't really exist in Markdown:
- `[link](mylink)` => [link](mylink)

[2021-06-26 18:06] T145 commented on #270
Yes I'm aware. However it can be handled is fine w/ me, just so long as there can be some level that links can be selected at. Idk if this program parses raw Markdown or converts it into HTML first.

[2021-06-26 18:20] MichaIng commented on #270
I'm quite sure that Markdown is not converted by `lychee` (correct me if I'm wrong) and it is good that it does not even try it, as Markdown as mentioned has no hard syntax, but has different flavors and can be extended, which enables plenty different syntax for links, which practically cannot be reliably handled by `lychee`. So URLs are most likely found from the raw text input without interpreti

[2021-06-26 18:27] T145 commented on #270
You can't see that the use cases are similar? A lot of assumptions are being made on either end about how this program works, so let the developers make their assessments on our respective recommendations.

[2021-06-26 18:28] lebensterben commented on #270
@MichaIng
You're right. `lychee` doesn't convert input file(s).

[2021-06-27 08:55] eyarz commented on #268
In my opinion, everything should be included in the JSON output (including redirects).
@mre, I like the idea of multiple levels - this way, the user can control if he wants to "risk" with high memory usage.

BTW, my use case is that we are using lychee with this [Awesome Kubernetes project](https://github.com/ramitsurana/awesome-kubernetes/blob/dda2e54583a2b08b8d6922ac45d3146ab647d2b5/.github/work

[2021-06-27 10:13] mre commented on #268
Did you see #271? It might be an alternative which could cover more use cases. In your situation you could filter the GitHub links with grep then and check if they are archived. Lychee exits with a non-zero exit code in case of errors, in which case your CI would fail as expected.
So in the end it would be something like

[code]

[2021-06-27 10:53] eyarz commented on #268
I guess this (#271) will also help me with my use case.
It's up to you to decide what should be prioritized :)

[2021-07-03 04:42] thunder-coding commented on #59
I have added `lychee` for [Termux](https://termux.org), see termux/termux-packages#7050 🚀🚀🎉

[2021-07-03 19:39] mre commented on #59
Great! Can you create a PR to mention that in the README? ✨

[2021-07-04 06:44] thunder-coding commented on #59
See #274

[2021-07-06 14:44] mre commented on #59
Thanks!

[2021-07-13 10:08] kaihendry opened #283 "Suggest possible fixes for broken URLs to archive sites?"
As mentioned upon https://github.com/lycheeverse/lychee-action/issues/37#issuecomment-878248088

It would be good to have a `--fix` flag that could perhaps rewrite dead URLs into working archived URLs like that provided by

* http://web.archive.org/

[2021-07-14 06:39] atomotic commented on #202
it's easy: you can use **acat** (extract files to standard out) from [atool](http://www.nongnu.org/atool/) and pipe to **lychee** stdin

[code]

i wrote in the past here: https://literarymachin.es/epub-linkrot/
also [epub-linkchecker](https://github.com/atomotic/epub-linkchecker) was a quick experiment of mine.
i discovered lychee today, this replaces my previous hacks

[2021-07-14 14:01] mre commented on #202
That's cool! I will add that to the `README.md`. Thanks for the hint and for epub-linkchecker, which served as an inspiration.

[2021-07-14 14:10] mre commented on #202
Done. I like the approach of using acat in combination with lychee. Each tool is responsible for exactly one task.
However I'm still considering to support epub natively in the end. acat is written in Perl and it would be nice to have a pure-Rust version at some point. There is an [epub crate](https://docs.rs/epub/1.2.3/epub/) which we could use.
I'll keep that issue open for future discussion.

[2021-07-14 14:41] mre commented on #272
So, the summary would not be shown by default?

[2021-07-14 14:48] MichaIng commented on #272
Probably it can depend on whether STDOUT is a terminal or not, so show the summary by default, when it is a terminal, hence most likely an interactive call, and hide it otherwise, when it is most likely a CI call or similar, where indeed often errors are all that is needed. But then `-S, --no-summary` could be required as well, consequently 🤔.

`-s, --scheme <scheme>...` btw reserves that short fo

[2021-07-14 15:21] mre commented on #272
Alternatively we could tie that into the `verbose` option: `-v` would give you the full status output, while by default it wouldn't. Not sure if I like that solution. 😅

[2021-07-14 16:13] MichaIng commented on #272
Jep, through about that, then moving output for each checked link to next verbosity level `-vv`, but somehow a summary behind a verbose flag feels wrong. Especially on interactive calls usually one expects some output to know that the command did something 🙂.

[2021-07-15 01:07] mxpv opened #284 "Glob patterns to exclude directory?"
I have a fairly large repository with md files spread across many directories.
So I'd like to periodically check for broken links in `*.md` files.
Something like `lychee --verbose --no-progress **/*.md` works well,
however I'd like to exclude `vendor/` directory to avoid unnecessary checks.
Would something like `lychee --verbose --no-progress **/*.md !./vendor/*` be within scope of this project?

[2021-07-17 22:50] T145 commented on #272
The final summary table would not be shown. Valid links and what not would still be in the output.

[2021-07-19 15:52] mre commented on #284
I thought that already works. I was wrong.
We should support that, yes. If anyone wants to give it a try, comment here.

[2021-08-02 09:04] lurch opened #291 "Support for AsciiDoc (.adoc) files"
Would it be possible to add support for checking links in AsciiDoc (`*.adoc`) files? It seems that lychee is currently unable to correctly parse [asciidoc-style URLs](https://docs.asciidoctor.org/asciidoc/latest/macros/url-macro/#link-text) and reports e.g.

✗ https://www.kernel.org/doc/Documentation/fb/framebuffer.txt[framebuffer] (HTTP status client error (404 Not Found) for url (https://www.ker

[2021-08-04 03:33] lebensterben commented on #291
there are a few differences between asciidoc and asciidoctor, even though the later claimed to be another implementation of the former.

We should support both.

[2021-08-17 08:37] ajoga commented on #284
Workaround inspired from https://stackoverflow.com/a/16595367 :
`lychee --verbose -- $(find . -not \( -path ./tests -prune \) -name '*.py' -print0 |xargs --null)`

[2021-08-17 08:41] ajoga opened #297 "feature request : blacklist schemes"
It would be nice to be able to blacklist some schemes like `unix://` on top of the actual possibility of whitelisting them. That way I could catch typos like `hhtp://`

[2021-08-17 09:21] MichaIng commented on #297
Unsupported schemes are silently skipped since #236 (not yet part of the latest release), which makes sense to not fail on every `ftp://`, `sftp://`, `data://`, `chrome://` etc, including your `unix://` example.

This means that typos in the scheme are silently ignored as well. But when there is a typo in such an essential part of the URL, then there is no guarantee anyway that any link checker wi

[2021-08-17 09:44] ajoga commented on #297
Understandable, thank you!

[2021-08-17 09:44] #297 closed

[2021-08-17 09:59] mre commented on #284
I'm astonished by that ingenuity.😄 It does make sense, though. Thanks for mentioning that!

[2021-08-17 15:18] ajoga commented on #284
thanks hehe =)
I've spent a bit of time trying to reuse that snippet in a github action with no luck. I found more useful to `rm -fr` the part of the code I didn't want to check then glob everything than use that snippet

[2021-08-20 09:19] mre commented on #291
Are there any good crates for AsciiDoc yet? Couldn't find any.

[2021-08-20 11:05] lebensterben commented on #291
we can pandoc it to html

[2021-08-20 12:22] mre commented on #291
Smart. Would we have to wrap the pandoc commandline tool for that?

[2021-08-20 16:20] lebensterben commented on #291
@mre

First make it a optional feature, say "pandoc: Adds support for more file formats with help of 'pandoc'".

If the feature is enabled, then also package a binary release, which would not violate pandoc's GPL v2 license. And use this library in our code https://lib.rs/crates/pandoc

If the feature isn't enabled, but the user provided some known file formats that are only supported by pandoc, i

[2021-08-20 17:05] mre commented on #291
That's cool. Yeah let's do this.

[2021-08-26 17:57] BrunoQuaresma opened #300 "[Question] Is there a way to customize the 404 logic?"
I have an app built using NextJS, and usually, the 404 page of NextJS returns the 200 status code because it is a static page. So, I would like to check the page using its body, looking for the canonical meta tag. Is that possible?

[2021-08-31 20:11] dblock opened #302 "Load --exclude from a file"
We like having a link checker in https://github.com/opensearch-project/OpenSearch, but we also often encounter URLs that no longer work in things like license files. Therefore we can't just fix the links. This leads to a fairly long list of URLs to exclude, which we keep adding to a GitHub action job, which reads poorly.

In https://github.com/opensearch-project/OpenSearch/pull/1189 I've hacked ou

[2021-08-31 20:17] lebensterben commented on #302
@dblock
lychee currently support config file. so at least you can put those urls in it.

[2021-08-31 20:25] dblock commented on #302
Oh where/how? I see README mentions a config file, but can't find a reference/example.

[2021-08-31 20:31] lebensterben commented on #302
indeed.

[2021-09-01 12:32] mre commented on #302
Good idea!

[2021-09-01 14:42] dblock opened #305 "Publish workflow fails"
Since https://github.com/lycheeverse/lychee/pull/225 the publish CI check is failing, which seems to be "by design". This was confusing to me trying to contribute for the first time - I wasn't sure whether I broke something.

Maybe that workflow should be disabled/removed until it can succeed?

[2021-09-02 18:16] github-actions[bot] opened #307 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/lycheeverse/lychee/actions/runs/1195283777?check_suite_focus=true)

[2021-09-03 14:01] mre commented on #305
Yeah I'm not happy with that tbh. We can of course publish lychee-lib whenever we have to do breaking changes, but it would be great if we could still ensure green builds for feature branches.

[2021-09-03 14:28] mre opened #308 "Add support for `.lycheeignore` file"
In #306 we discussed the possibility of supporting a `.lycheeignore` file to exclude certain URLs from getting checked.
This is similar to files like `.gitignore` and `.dockerignore`.

## Proposed changes

* [ ] Support reading a `.lycheeignore` file from the current working directory.
* [ ] Make the `--exclude-file` flag default to `.lycheeignore` if it exists.
* [ ] Optionally support reading `.

[2021-09-03 16:18] dblock commented on #305
I am still trying to fix it in #304

[2021-09-03 16:24] dblock commented on #305
@mre If you know how to fix https://github.com/dtolnay/proc-macro2/issues/298 we'll be in business.

[2021-09-03 22:58] dblock commented on #302
This was implemented in #306, and released in 7.0.1.

[2021-09-03 22:58] #302 closed

[2021-09-03 23:49] #305 closed

[2021-09-04 00:08] mre commented on #305
Yay! 🌻

[2021-09-04 00:09] #307 closed

[2021-09-04 00:09] mre commented on #307
This is fixed by moving to https.

[2021-09-04 00:12] mre commented on #300
Closing this as there is a preferable solution provided by @lebensterben and for the reasons stated in the comments.
Your input was very welcome @BrunoQuaresma and thanks for using lychee. 😃

[2021-09-04 00:12] #300 closed

[2021-09-04 00:17] mre commented on #283
This can be done with the [Wayback Machine API](https://archive.org/help/wayback_api.php) if anyone wants to give it a try.
Here is a sample request:
https://archive.org/wayback/available?url=example.com

[2021-09-04 00:30] mre commented on #253
A generic solution would be hard to pull off, but I'm glad you found a workaround so I guess we can close this.

[2021-09-04 00:30] #253 closed

[2021-09-04 00:31] mre commented on #230
A new version is out now. Closing this.

[2021-09-04 00:31] #230 closed

[2021-09-04 01:21] #192 closed

[2021-09-04 01:43] mre commented on #21
@untitaker can you help me with testing #262?
Of course, if anyone else has some time, feedback is very welcome.

[2021-09-04 07:30] untitaker commented on #21
Will test in detail next week, hopefully. I left a comment on the pr, it seems to me lychee-on-fs is still built for different usecases than what I need.

On Sat, Sep 4, 2021, at 03:43, Matthias wrote:

[2021-09-06 19:03] untitaker commented on #21
Ok, everything I encountered:

* progressbar is really slowing things down. by disabling it using a pipe I get down from 3 minutes to 32 seconds on sentry-docs, which is roughly on-par with liche. [hyperlink](https://github.com/untitaker/hyperlink/) is still doing that site in 2 secs
* besides progressbar there's some room for optimization, I see lychee maxes out all cores traversing the filesyste

[2021-09-06 22:51] mre commented on #21
Wow. There are similar reports here: https://github.com/mitsuhiko/indicatif/issues/170
Good job on making hyperlink so fast! 😃

This is true. The problem is the current collector implementation. It pushes all file contents into a channel before checking. That's extremely wasteful. I think just using streams would be the better alternative. This should be tackled once basic file support gets merged

[2021-09-06 23:21] mre commented on #21
@untitaker, tried to reproduce your sentry use-case:

[code]

This is clearly not working and we'll need to move to a lazy link collection approach.
It won't happen on the first iteration, but there is obviously some refactoring work to do before file support is suitable for bigger sites. 😞

[2021-09-07 10:36] MichaIng commented on #21
@mre
This is not related to the local files support itself, is it?

[2021-09-07 11:15] mre commented on #21
True.
In the following snippet we return the `Result<Vec<InputContent>>`, which is fine when we deal with a few files, but when it calls `glob_contents` with a pattern like `**/*.html` on a big directory it will run of of file handles because it eagerly reads all those files.
https://github.com/lycheeverse/lychee/blob/8fd34a73673128af14e1818f66419a8ec7305467/lychee-lib/src/collector.rs#L122-L145

[2021-09-07 23:14] #234 closed

[2021-09-09 17:50] #21 closed

[2021-09-09 22:01] MichaIng opened #319 "Shall --exclude-loopback affect "localhost" as well?"
Currently using the `-E` option does not exclude the `localhost` hostname, which I somehow expected.

Strictly seen this is correct, as the option aims to exclude the "loopback IP address range" explicitly, while `localhost` is only a common local hosts entry pointing to the loopback IP, while it can point to anything else or not exist at all.

So just the question whether it does make sense to st

[2021-09-10 07:50] mre commented on #319
@pawroman what do you think?

[2021-09-10 10:31] lebensterben commented on #319
loopback is determined by std's function https://doc.rust-lang.org/stable/std/net/enum.IpAddr.html#method.is_loopback

which already includes 127.0.0.1

https://doc.rust-lang.org/stable/std/net/struct.Ipv4Addr.html#associatedconstant.LOCALHOST

[2021-09-10 10:34] lebensterben commented on #319
By RFC 6761, localhost is reserved for loopback purpose.

https://datatracker.ietf.org/doc/html/rfc6761#section-6.3

So the only correct way of handling it is to follow std and the standard, that treat it as loopback.

[2021-09-10 11:19] MichaIng commented on #319
The wording isn't actually that strict.

It's `SHOULD` and not `MUST` 😉. On the Linux distros I work, it is practically a "must", as a whole lot of software simply requires and expects it do be like that, but I'm not sure if it is that clear on all OSes 🤔.

[2021-09-10 11:28] lebensterben commented on #319
https://datatracker.ietf.org/doc/html/rfc2119#section-3

   may exist valid reasons in particular circumstances to ignore a
   particular item, but the full implications must be understood and
   carefully weighed before choosing a different course.

Should 'localhost' be treated differently from std and RFC, it'd be against most peoples expectations.

If its really needed, we can add one more con

[2021-09-10 12:13] MichaIng commented on #319
Don't understand me wrong, I'm clearly on your side in this, which is the reason why I opened the issue. Just for completeness and understanding possible implications, it needs to be taken care that there is a difference between an IP, which is somehow absolute and via `MUST` bound to specific purposes, and practically it is impossible to access a remote host directly (without redirection, embeddi

[2021-09-10 22:28] mre commented on #319
I'd accept a PR for adding localhost to the exclusions when using `-E`. Bonus points for adding some documentation on the reasoning and a link to the RFC. Any takers?

[2021-09-11 02:12] lebensterben commented on #21
one solution is to make this synchronous. tokio is able to spawn synchronous task within asynchronous context.

if you want, you can use crossbeam/rayon to start a dedicated thread pool with limited number of OS thread.

[2021-09-11 02:20] lebensterben commented on #21
see
https://docs.rs/tokio/1.11.0/tokio/#cpu-bound-tasks-and-blocking-code

local disk IO is not CPU bound. we'd expect most files are processed below 10s (the default timeout before tokio steal a thread), so using asynchronous here isn't really helpful either.

and suppose tokio really does steal from a thread, that only adds unnecessary cost of context switching.

[2021-09-11 03:03] lebensterben commented on #21
ripgrep uses crossbeam + num_cpus.
in particular, its "worker" is synchronous in nature, even when multi-thread is on.

https://github.com/BurntSushi/ripgrep/blob/df83b8b44426b3f2179abe632eb183e8c8270524/crates/core/search.rs#L310

it's relatively cheap for us to factor out the network IO from other parts, and use tokio and crossbeam, respectively, for local and network IO.

roughly speaking,
- CL

[2021-09-11 17:10] MichaIng commented on #319
Shall it be with the `-E` flag only, or with `--exclude-loopback` already, since it practically is the loopback address?

[2021-09-13 00:38] mre commented on #319
Let's do both, yeah. Would you like to tackle this?

[2021-09-13 03:30] ran-huang opened #320 "Error with base dir `<empty>`"
Hi, I use Lychee in GitHub Actions, which worked perfectly until this week. I got this error today:

[code]

I tried to add `--exclude /download` in args, but the error persists. It still checks `/download`.

I can't set `--base` because it will affect other relative links with different base URL. Is there a way to fix the error? Thank you!

[2021-09-13 09:05] fauust commented on #59
Hey @mre!
I may have some spare time in the next weeks to look at Debian packaging.

So, I have some questions to understand better in which direction you want to go:
- what about creating a  `debian/` directory with all the necessary stuff, wouldn't that be easier to maintain than having everything generated in the CI (like in the bat example you are pointing to)?
- do you have any reason why you

[2021-09-13 09:26] fauust opened #321 "Improve docker container publishing"
Hi!
Based on what was done in #40, I see some stuff that could be improved.
- **multi-arch**: publish other architectures (see https://hub.docker.com/_/debian?tab=tags&page=1&ordering=last_updated&name=buster-slim):
  Would complexify a bit the CI, so this could increase maintenance burden, see https://github.com/fauust/docker-systemd/blob/master/.github/workflows/build.yml or https://github.com/m

[2021-09-13 10:23] lebensterben commented on #321
Is multi arch really needed?
Is anyone seriously running lychee with it?

[2021-09-13 10:36] fauust commented on #321
good, Q. Why providing lychee binaries for aarch64 and arm then?

What do you mean with seriously?

[2021-09-13 11:09] MichaIng commented on #321
Running a static binary on an ARM system is quite some difference from running a whole Docker container on an ARM system for having a single tool available. I personally use lychee by times on ARM SBCs, but the static binaries, while it would never cross my mind to spin up a Docker container for it.

On an ARM M1 with macOS there are no static binaries available, but those ARMs are capable to thin

[2021-09-13 12:00] MichaIng commented on #319
I cannot guarantee that I find time soon, but I'll have a look into it. So far I cannot imagine that it's hard to implement, even for a Rust newby like me 🙂.

[2021-09-13 12:11] fauust commented on #321
Then what is the difference with running a single tool into an AMD64 container? :)

It cross my mind everyday to use containers on raspberry PI to test applications and tools without polluting the OS, container does not mean installing the whole docker daemon:
[code]

[2021-09-13 12:15] MichaIng commented on #320
Do you use the latest stable release v0.7.1 or build it from master? Dump question, as it says `--base` instead of `--base-url` so it must be the master branch 😄.

Local file check support has been added: #262
This means you can use a base path now instead of a base URL and lychee will then not do a network request for internal links but instead check if the file/dir exists locally. Probably this

[2021-09-13 13:31] MichaIng commented on #321
x86 systems are commonly used for hosting snap/Docker/Kubernetes/VMs/whatever kind of virtualisation and containerisation for server isolation, testing, development, cross-compiling and what not, and then expected to have sufficient power to make this possible. In case of ARMs of course there are either powerful ones there already (the Apple M1 seems to be) or will be coming in the future, but I h

[2021-09-13 14:30] fauust commented on #321
I encourage you [to](https://github.com/containers/podman). In my case, the reason why I started to prefer it over docker (when possible) was:
- rootless containers;
- better cgroup management (that permits to emulate better systemd).

Sure but with containers, you have a command that will manage everything for you (pull, upgrade, run, prune etc.), and the "whole" container is just a bunch of MB l

[2021-09-13 15:05] MichaIng commented on #321
In our CI workflows the static x86 binary is downloaded and used, which is a 1s step, so I'm sure that no other method is even close to beat that 😉.

[2021-09-13 15:32] fauust commented on #321
I am saying that it's "nice to have" not faster (and to compare stuff, you should take cache and network in consideration, I am pretty sure that Microsoft folks knows what they do between GH actions runners and GH assets)...

But as said, 100 MB vs 5.26 MB is not comparable, those are different use cases. But try to implement a lychee step with the drone.io CI you will get my point :smiley_cat:

[2021-09-13 18:26] MichaIng commented on #321
Not sure what you mean. The container adds another layer of complexity to the network and which cache and what does Microsoft have to do with it? They ship Docker with the GH actions runners but it doesn't need to be used for anything I know about 🤔. It's an interesting topic to me since IMHO (and I may just lack knowledge) Docker is often used in cases where it doesn't make much sense, like exact

[2021-09-13 20:37] fauust commented on #321
@MichaIng before making your opinion on a technology, you may want to first understand it better. Don't take it personally (or bad) and I like your concerns about not using Docker when not necessary (and yes sometimes you do not want to use a technology just because it's trendy and why use containers when you seem to be more comfortable with `curl`?)

It's important to understand what we do and so

[2021-09-13 23:04] lebensterben commented on #321
There's a joke that some countries are good at solving problems nobody else ever has.
It's probably also true to say that some programming language community is really good at solving issues others don't have.
One reason people needs Docker is to avoid dependency hell, either due to crappy development toolchain, or due to incompatibility introduced by OS upgrades.

But Rust has awesome toolchain a

[2021-09-14 07:22] fauust commented on #321
I am not suggesting using Docker for "our" use case nor in the actual GitHub action CI but to propose more architecture in case some users find it useful...

Also I am not sure that this project (any project?) should decide what is good and what is not for users but I am a new comer so please let me know this is the case.

[2021-09-14 08:17] fauust opened #327 "Why `lychee` does not defaults to `--help` ?"
Hi!
`lychee` defaults to trying to parse a `README.md` file and this is quite strange IMO.

Maybe defaulting to `--help` would be more appropriate?

I am not sure about the reason of this behavior (there is maybe a very good one) and sorry if this was already discussed.

[2021-09-14 12:12] mre commented on #327
Not much thought went into that other than the idea that the tool would be used mostly in code repositories where a `README.md` would be a somewhat sane default. One could argue that an even better one would have been '**/*.html' or anything similar, but we didn't have glob functionality back then.
To be honest I didn't think that the tool would grow into what it is now. The number use-cases has i

[2021-09-14 12:25] MichaIng commented on #327
To not make a breaking change, it could also keep scanning `README.md` if present, and only show the help when not. But probably it's not worth to hassle with this when it could simply behave like most other command line tools and show the help right away.

[2021-09-14 12:37] fauust commented on #327
OK, thanks.

It could also be considered a bit intrusive to start parsing a bunch of `*.md` files without the user explicitly asking for it.

I did a quick research and I could not find any best practice or standards for CLI tools, so maybe `--help` is the most natural one.

[2021-09-14 12:41] fauust commented on #327
Maybe something to take in consideration before doing the move is if something like `cat foo.md | lychee` (or derivate) is desirable... I can't see any benefits so far but others may.

[2021-09-14 12:54] mre commented on #327
Catching those issues before 1.0 is great because we're still in a phase where we can make breaking changes without bumping the major version. Most users call lychee with some arguments already I think, so not much would change.

We support `stdin` with `lychee -`. Reading from stdin without `-` would look like lychee is busy when calling it without any arguments, which could be confusing.

In sum

[2021-09-14 13:07] fauust commented on #327
I would love to but I am really not a developer...

[2021-09-14 13:23] mre commented on #321
If we can support more platforms without a lot more maintenance work, we should. I for one use the lychee binaries as well as the container depending on the environment. While I don't use non-x64 containers I don't see why we shouldn't support that.

The [current Docker CI](https://github.com/lycheeverse/lychee/blob/master/.github/workflows/docker.yml) only has 23 lines, which is very convenient.

[2021-09-14 13:27] fauust commented on #321
PR already done for the description:
https://github.com/lycheeverse/lychee/pull/325

Agree for the rest.

[2021-09-14 13:40] fauust commented on #321
We probably want to handle this better too in the future:
https://github.com/fauust/lychee/runs/3599163361?check_suite_focus=true

![screenshot_20210914_153704](https://user-images.githubusercontent.com/2197555/133268135-a874ad8b-a79c-413c-bd52-9fd17716da36.png)

[2021-09-14 13:42] MichaIng commented on #321
You mean skipping the publish step if it runs on a fork?

[2021-09-14 13:45] mre commented on #327
No worries. In this case it's all structopt magic. 🪄 🐰 🎩 See PR. 😄 #329

[2021-09-14 13:47] fauust commented on #321
For instance yes.

On other project I use a local registry and build and push on the local registry and skip the push to DockerHub (that is done only from the upstream repo). This way forks also execute most part of the container building CI.

[2021-09-14 17:09] lebensterben commented on #321
Spending electricity on building something nobody is gonna use is just another way of making more carbon dioxide and killing the planet.

[2021-09-14 20:14] MichaIng commented on #321
Consequently then it would be the first task to turn the lychee action into a pure binary download + execution one, as the majority of GitHub users likely use the action instead of doing what I do (downloading and running it directly in the workflow). And the accumulated CPU time and network traffic overhead implied with the Docker image is much larger than doing a first build of an ARM Docker con

[2021-09-15 00:31] mre commented on #59
Thanks for helping out. debcargo looks nice. Let's try it!
I'm fine with adding a debian subfolder. Reading through the debcargo docs, we might only need one toml file anyway, which would be sweet.

[2021-09-15 07:13] fauust commented on #59
@mre I am still not sure about the best solution. bat is packaged into Debian so I may contact the maintainer to understand what workflow he use and then decide based on that.

My idea is to reduce as much as possible the diff (or the sync mechanism) between upstream and downstream Debian/Ubuntu packaging.

[2021-09-15 09:33] mre commented on #59
Sounds like a good idea. Thanks for looking into this.
Also perhaps you can give debcargo a spin and see what output it produces to have a starting point.

[2021-09-16 13:35] mre commented on #320
I see three options moving forward:
1. We silently ignore internal links with absolute paths.
2. We print a warning but check the rest
3. We assume the input directory as the base for absolute links if no base is set.

In the long run I lean towards option 3. It would be what I expect if I run `lychee public/` for example where `public` is the build directory of a static site generator.
It gets tr

[2021-09-16 14:02] MichaIng commented on #320
I vote for option 1 + adding a note to the usage that `--base` is required to check relative URLs with absolute path (or "internal links with absolute path", not sure how to name precisely + understandable). If option 2, then I fear we'd need another CLI option to allow muting it. There may be cases where files with different base paths/URLs are aimed to be checked in a single run, so that setting

[2021-09-16 14:40] #327 closed

[2021-09-16 14:43] mre commented on #320
You have a good point there. I changed my mind. Unless anyone else brings up a good argument against it, let's go with option 1.

[2021-09-16 18:15] github-actions[bot] opened #333 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/lycheeverse/lychee/actions/runs/1242706337?check_suite_focus=true)

[2021-09-17 18:15] github-actions[bot] opened #335 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/lycheeverse/lychee/actions/runs/1246527633?check_suite_focus=true)

[2021-09-18 18:15] github-actions[bot] opened #336 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/lycheeverse/lychee/actions/runs/1249074365?check_suite_focus=true)

[2021-09-19 14:04] mre commented on #336
Huh? I'm confused where the empty output comes from... 😨

[2021-09-19 18:15] github-actions[bot] opened #337 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/lycheeverse/lychee/actions/runs/1251239358?check_suite_focus=true)

[2021-09-20 08:45] mre commented on #336
This should be resolved now with https://github.com/lycheeverse/lychee-action/pull/45

[2021-09-20 08:45] #336 closed

[2021-09-20 08:45] #333 closed

[2021-09-20 08:45] #335 closed

[2021-09-20 08:45] #337 closed

[2021-09-20 09:13] #320 closed

[2021-09-20 10:12] mre commented on #267
@ylwu-amzn, this should now be possible in `master`:

[code]

Note that the flag is called `--dump` and not `--no-check` as initially proposed. Discussion and PR here: #99.
There was a small issue related to pipes that was fixed in https://github.com/lycheeverse/lychee/pull/340.

[2021-09-22 02:32] ran-huang commented on #320
Thank you! This issue is fixed. ❤️

[2021-09-30 11:04] MichaIng opened #348 "Fix URI cache to cache URIs across multiple files"
As tested [here](https://github.com/lycheeverse/lychee/pull/243#issuecomment-913027437), the URI cache for caching URI check results across all input files, does not work as expected.

There is a test for repetition in a single file: https://github.com/lycheeverse/lychee/blob/master/lychee-bin/tests/cli.rs#L218-L229
But this worked before the new URI cache was implemented. This test may be extende

[2021-09-30 11:27] mre commented on #348
The cache should work across files. At least that's the goal. So the same link should always only count as 1 in the total, no matter in how many files it occurs.

[2021-09-30 11:36] MichaIng commented on #348
Okay great, I'll try to extend the cache accordingly.

[2021-09-30 11:53] MichaIng commented on #348
PR up: #349
I hope I did the syntax right 😅.

[2021-10-05 14:59] MichaIng commented on #319
PR up: #351

[2021-10-06 09:33] #319 closed

[2021-10-10 01:42] mre commented on #21
Added jwalk to #330.

[2021-10-13 09:38] fauust commented on #59
Working on another packaging project (Go), I found out where bat is packaged for Debian:
https://salsa.debian.org/rust-team/debcargo-conf/-/tree/master/src/bat/debian

GIven the number of Rust packages that seems to be packaged this way, I believe this is the way to go:
https://salsa.debian.org/rust-team/debcargo-conf/-/tree/master/src/

So, next step is to understand better the workflow...

[2021-10-22 04:58] dcroote opened #367 "429 Too Many Requests"
We've seen `HTTP status client error (429 Too Many Requests) for url` for github.com urls intermittently even when using the GITHUB_TOKEN `env` and reducing concurrency to 10 threads. A few examples of Action runs where this occurred: [1](https://github.com/api3dao/api3-docs/runs/3957376822?check_suite_focus=true), [2](https://github.com/api3dao/api3-docs/runs/3957001728?check_suite_focus=true), [

[2021-10-29 21:56] markzegarelli opened #374 "`error sending request for url...` errors"
Running lychee 0.8.0 locally on my mac.

I'm trying to set up Lychee as part of my CI process for a large documentation site, that checks the output directory after a build.

However, in the output, I get more than 2x the number of the following, compared to 404s:
[code]

This error appears on both local and external URLs.

Is there a way to prevent or suppress these errors? I am mainly interested

[2021-10-30 23:59] mre commented on #374
Looks like you run into some DNS issues. For the domains that are failing, can you open them in a browser?
If not, these might be internal links and you might not have them in your /etc/hosts or you have to connect to a VPN first. Also, do the DNS errors only occur for a limited number of domains? Maybe just one site that isn't reachable? That might point to an internal server as well.

In any cas

[2021-11-03 22:07] JAremko commented on #367
I test files in batches with [separate lychee-actions](https://github.com/syl20bnr/develop.spacemacs.org/tree/gh-pages/.github/workflows). They run ~2 hours apart from each other.  It would be cool if there was an arg that can set up the root directory.  `-base`doesn't work in the action for some reason. I ended up encoding it in the file path [doc/**/*.html](https://github.com/syl20bnr/develop.sp

[2021-11-03 22:11] JAremko commented on #367
Actually, there is https://github.com/marketplace/actions/schedule-job-action thingy. But it seems to require personal token.  Wouldn't work for my use case.

[2021-11-03 22:17] JAremko commented on #367
Other solution would be an introduction of "URL health". "Healthy" URL is an URL that has been successfully tested in last 24 hours and it doesn't need to be tested again for some time.  :face_with_thermometer:  URL is an URL that  has a recoverable error or timed out less than X times  in a row. And :skull:  URL is  everything else.

[2021-11-03 22:18] MichaIng commented on #367
Note that this option does not define the root directory for input files but the root path or URL for the contained relative/internal links, like `<a href="/subdir/page.html">`. For the inputs you hence still need to define file names, a regex or an URL you want to check links on.

Makes sense, probably all subdomains of `github.com` should use the token as well.

[2021-11-03 22:29] JAremko commented on #367
Actually, if link checker would have some kind of state shared between runs, I like the idea of storing links and their statuses (health) in an issue for further reinspection. Basically, using such issue as a config file of sorts.
The action can update that config issue with the list of ignored URLs, add the dates when URLs has been tested last time, what URLs are in "temporary outage" list. It wo

[2021-11-03 22:49] mre commented on #30
I think this is done. Closing this to keep the issue tracker clean. @pawroman feel free to reopen. 😉

[2021-11-03 22:49] #30 closed

[2021-11-04 11:22] mre commented on #367
Yeah that is planned. #163

[2021-11-04 18:16] github-actions[bot] opened #382 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/lycheeverse/lychee/actions/runs/1422634739?check_suite_focus=true)

[2021-11-05 06:38] JAremko opened #384 ".git suffix should be ignored on GH links"
Links like `https://github.com/Microsoft/python-language-server.git `  reported as (404 Not Found: Not Found)  while `https://github.com/Microsoft/python-language-server` is totally fine and GH actually redirects `.git` links there.
It meters for the cases when  lychee detects links in config files and code samples that use such links to install dependencies (for example ruby gems, python stuff).

[2021-11-05 09:26] mre commented on #384
lychee follows redirects (up to a configurable number), so that's strange.

[2021-11-05 12:10] JAremko commented on #384
@mre  [her's log](https://pipelines.actions.githubusercontent.com/Q1WnMNC8nyjtXJl4ZWhckdi4BFkbWSyv02VlZ0A1uZABuKU4JR/_apis/pipelines/1/runs/137/signedlogcontent/2?urlExpires=2021-11-05T12%3A08%3A10.7053658Z&urlSigningMethod=HMACV1&urlSignature=FeRbMLIF4cH9iFOTCgIBXDgjBWPURYaakcfW0JYiSYQ%3D)

The  line says:
[code]

Looks like it detects [this link](https://develop.spacemacs.org/layers/+lang/python

[2021-11-05 12:20] mre commented on #384
Yeah that's a bug. It should have detected that as a 200. I wonder what's up...

[2021-11-05 12:21] JAremko commented on #384
@mre

I requested the link from chrome:
[code]

Yeah nothing special about it :thinking:

[2021-11-05 18:16] github-actions[bot] opened #385 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/lycheeverse/lychee/actions/runs/1426892645?check_suite_focus=true)

[2021-11-05 21:25] mre commented on #62
Guess it won't be that easy. Tried it and the main problem is that we'd need `types::uri::Uri` in the `test_utils` crate and the `lychee-lib` crate. I imported `Uri` from `lychee-lib` in `test_utils`, but for Rust these are different types (because of nominative instead of structural typing).

I get a lot of errors like this:

[code]

We could use `LabelledGeneric` using [frunk](https://github.com

[2021-11-11 13:36] hannobraun opened #388 "Feature Request: Check URLs against Content-Security-Policy header"
The [Content-Security-Policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy) header controls which domains the browser is allowed to access in various contexts. For example, if a website contains an image that is hosted at a domain that the Content-Security-Policy header doesn't allow images to be loaded from, then this image won't be loaded by a complying brows

[2021-11-11 13:49] hannobraun opened #389 "Lychee claims my email address is unreachable"
I checked my website using Lychee:
[code]

It complains that my email address is unreachable, which is not true (I've just confirmed).

[2021-11-11 13:53] mre commented on #389
I think it parses the mail address incorrectly. There is a `>` at the end.  Can you post the relevant HTML here as well for troubleshooting please?
The second one looks fine. We use the check-if-email-exists, so it might be a bug over there.

[2021-11-11 14:47] mre commented on #388
There is https://github.com/rust-ammonia/rust-content-security-policy, which we might use for that.
So the idea would be:
1. Parse the header from the page with the crate above
2. Test sub-requests that should get restricted by the CSP and report them as unreachable by a compliant browser.

[2021-11-11 15:11] hannobraun commented on #389
Here's the HTML:
[code]

I think I'm doing the right thing here. That's just the URL encoding of `Hanno Braun <hanno@braun-odw.eu>`. At least Thunderbird handles it correctly.

You can test yourself by going to any page on [https://hanno.braun-odw.eu/](https://hanno.braun-odw.eu/) and clicking on the email address near the upper-right corner.

[2021-11-11 15:16] hannobraun commented on #389
I think I figured out what the problem is.

[`check-if-email-exists`](https://crates.io/crates/check-if-email-exists) has a [live demo](https://reacher.email/). If I enter my email here, I get this:
[code]

Relevant subset:
[code]

Looks like they got their IP blocked:
https://check.spamhaus.org/listed/?searchterm=54.165.232.17

Maybe Lychee could emit a better error message here, or not use their

[2021-11-12 11:39] mre commented on #389
@amaurym fyi
You can run it locally, but I don't think it's easy.
You can disable the email check with `--exclude-mail` as you probably know already, but that doesn't help you.

[2021-11-13 16:09] untitaker opened #390 "Lychee treats srcSet attribute as single URL"
lychee incorrectly parses srcSet into a single URL which fails to resolve to any filename.

[code]

the corresponding HTML:

[code]

[2021-11-14 15:28] untitaker commented on #78
I found that [muffet](https://github.com/raviqqe/muffet) and [linkcheck](https://github.com/filiph/linkcheck) serves the recursive usecase the best. What neither does is to opportunistically check /sitemap.xml to traverse the site faster/get to efficient parallelization faster. Lychee could one-up them on performance if that is done by default.

[2021-11-15 11:41] mre commented on #390
We use [linkify](https://github.com/robinst/linkify) for the parsing part. If you have the time, can you check if the error also happens over there?

[2021-11-15 18:52] untitaker commented on #390
I actually believe that you treat some attributes as if they contain verbatim URLs (using linkify for the rest), and `srcset` is on that list.

[2021-11-15 23:00] untitaker commented on #269
This is labelled as `design-feedback` because it already goes into the nitty-gritty of which code unit does what, but from what i can tell what is actually proposed here is to expand lychee's feature scope such that it can be used to enforce policies on HTML, such as the already mentioned "need to use HTTPs links everywhere" and "links can't match this pattern".

You can already enforce some basic

[2021-11-16 21:58] #390 closed

[2021-11-21 14:38] mre commented on #384
Seems to work on my machine with lychee. 🤔

[code]

@JAremko can you test again?

[2021-11-21 14:38] #382 closed

[2021-11-21 14:40] mre commented on #34
structopt-toml doesn't seem to be very actively maintained at the moment. At least the last couple of issues didn't get a reply yet. Given that we don't have any problems with maintaining our own solution at the moment, I'd say let's close this issue.

[2021-11-21 14:40] #34 closed

[2021-11-21 22:07] JAremko commented on #384
@mre
`https://github.com/Microsoft/python-language-server.git: Failed: 404 Not Found: Not Found`

https://github.com/syl20bnr/develop.spacemacs.org/issues/162

[2021-11-22 11:26] mre commented on #384
It gets weirder then. That would mean that the action is doing something else than lychee. Checked the action params, but don't see anything special. Still don't know how this can be. Maybe it has something to do with the fact that it runs on Github's servers, but I doubt it.

[2021-11-22 11:28] mre commented on #267
Closing this as there is a solution now using `--dump` (see above).

[2021-11-22 11:28] #267 closed

[2021-11-22 11:28] #374 closed

[2021-11-22 11:28] #385 closed

[2021-11-22 11:41] mre commented on #321
@fauust covered most issues mentioned:
* [X] Add basic image description on Docker registry (#325)
* [X] Optimize Dockerfile (#326)
* [X] skip publish step if it runs on a fork

The remaining bit is multi-arch support.

I'm all for supporting arm64 (for Apple Silicon) at least as it's gaining a lot of popularity.
(Especially in the Rust community; I will be a user myself.)
@fauust would you like t

[2021-11-22 11:54] mre commented on #284
Implementation-wise, this can be done with a `GlobSet`:

[code]

So I think we can check if `set.matches(input).len() == set.len()`.

Docs: https://docs.rs/globset/latest/globset/

[2021-11-22 14:17] mre commented on #348
Current status: Caching across files is currently disabled. See [test_caching_across_files](https://github.com/lycheeverse/lychee/blob/d96c1269ff34f67f0a94cf66503b0a497621e088/lychee-bin/tests/cli.rs#L240).
We're planning to bring this back at some point.
https://github.com/lycheeverse/lychee/pull/349#issuecomment-937741323

[2021-11-22 14:40] mre commented on #272
There is a new, compact output format, which only shows a single summary line; see https://github.com/lycheeverse/lychee/pull/375.
Does that work for you? If not, we can add a `--format=quiet` or `--format=raw` option, which would get rid of the final status line as well. It would be an easy thing to do, but it depends on your use-case.

[2021-11-22 14:41] mre commented on #272
Ah, I re-read the original issue at #271. You mention machine-readable output. I guess `--format=raw` could work in this case and there is also `--format=json`.

[2021-11-22 17:59] JAremko commented on #384
@mre  Well, us I understand it uses GH token to access URLs like `https://github.com/Microsoft/python-language-server.git`  Maybe the process getting messed up by the redirect or GH doesn't support this type of access on `.git` URLs :thinking:

[2021-11-23 00:27] rigtorp commented on #367
Honoring rate limit headers would be a good idea and not too difficult, here's how it's done in pytest-check-links:
https://github.com/jupyterlab/pytest-check-links/blob/master/pytest_check_links/plugin.py#L301

[code]
and `self.sleep` tries to sleep if the Retry-After header is present (https://github.com/jupyterlab/pytest-check-links/blob/master/pytest_check_links/plugin.py#L243).

[2021-11-23 00:39] #308 closed

[2021-11-23 00:41] mre commented on #384
Hum. I tested with a Github token to no avail. 😕

[2021-11-23 00:43] mre commented on #308
@dblock this is in `master` now if you want to give it a try. I'll release a new version of the action in a bit.
Then you could remove the part in https://github.com/opensearch-project/OpenSearch/blob/3870522228650ed242a29d5dc29d1a10a1270d4a/.github/workflows/links.yml#L12-L21
and rename this file to `.lycheeignore`:
https://github.com/opensearch-project/OpenSearch/blob/3870522228650ed242a29d5dc29

[2021-11-24 17:15] fauust commented on #321
See: https://github.com/lycheeverse/lychee/pull/406
There is a huge build time problem on the CI runner (it may come from the QEMU emulation of docker buildkit).
We could also build on a MacOS X runner (not sure if those are ARM though).

[2021-11-24 18:35] MichaIng commented on #321
Why does it use QEMU emulation instead of doing common cross compiling with native architecture toolkit? Emulation of course is very slow, especially when it's done for compiling software which requires a whole lot of binary calls all wrapped by the emulator.

Isn't it possible to use a light pre-compiled Docker base container for `aarch64` and place the previously compiled `aarch64` lychee binary

[2021-11-24 21:03] mre commented on #321
Yeah the latest macOS image is `macos-11` with
[code]

There is an [issue for arm support](https://github.community/t/ask-about-github-hosted-runners-arm64-platform-support/167483), but it's not on the roadmap yet.

[2021-11-24 21:24] mre commented on #321
QEMU seems to be extremely slow.
Numerous tickets on this topic:
* https://github.com/uraimo/run-on-arch-action/issues/4
* https://github.com/rootwyrm/dns_docker/issues/5
* https://github.com/scikit-learn/scikit-learn/issues/19027

Some people use Travis, which has native hardware.
In our case we could also look into cross-compiling as @MichaIng suggested.
😕

[2021-11-25 09:28] fauust commented on #321
@MichaIng, that's a perfectly good approach!
And this is also the most optimal, as we currently build x64 binary twice (release job and docker job).

I'll check how this can be done in the GitHub action context (maybe depending off the release job and fetching the binary directly from GitHub is the cleanest solution).

Please can you answer the following:
- which binary do we want to use in docker

[2021-11-25 12:07] mre commented on #321
I guess we should use the latest binary compiled from `master` whenever we build the image. This way we'll make sure that the image is ready for release. `lycheeverse/lychee:latest` gets pushed on merge to `master` and if we create a release it will tag and push the image with the release tag.

I don't think it's used anywhere right now, but I wouldn't mind keeping it so that people can inspect it

[2021-11-25 12:11] mre commented on #321
Seems like we have some problems with the `musl` builds:

[code]
https://github.com/lycheeverse/lychee/runs/4245580796?check_suite_focus=true

The error message is suspicious. Maybe something about gcc-musl.

[2021-11-25 12:37] fauust commented on #321
Sorry, I was not clear enough. I was wondering which (in the latest one) binary should we use, I see various:
- x86_64-unknown-linux-gnu
- x86_64-unknown-linux-musl
- arm-unknown-linux-gnueabihf
- arm-unknown-linux-musleabi
- arm-unknown-linux-musleabihf
- aarch64-unknown-linux-gnu

We could create a docker folder and add Dockerfile-amd64 and Dockerfile-arm64 there and refer to them in the pipelin

[2021-11-25 13:22] MichaIng commented on #321
The `musl` binaries are usually smaller, but otherwise I'm not sure of differences or downsides. Since at least recently some `musl` builds fail, that would be an argument to use the `GNU` ones, or at least have a fallback.

Among the three ARM ones, I think there is no point in supporting ARMs without floating-point hardware (?), so I'd use a `*hf` one. This means it's ARMv7 + probably the specia

[2021-11-25 16:39] mre commented on #321
Yup we can take `arm-unknown-linux-gnueabihf` if that works.

[2021-11-26 12:06] mre opened #408 "Add support for URLs without scheme/protocol"
linkify 0.8.0 was just released with an exciting new feature:

Changelog [here](https://github.com/robinst/linkify/blob/main/CHANGELOG.md#080---2021-11-26).

This would allow us to check even more links. 😃
We should add support for that behind a feature flag:

* [x] Add flag `--no-scheme`, which is off by default.
* [x] If `--no-scheme` is enabled, create linkify with [the new feature](https://git

[2021-11-26 14:58] fauust commented on #321
It doesn't (at least on raspberry pi4 and on some ARM machine tested). So I am using `lychee-v0.8.1-aarch64-unknown-linux-gnu.tar.gz` for now.

[2021-11-26 15:04] MichaIng commented on #321
??? This does definitely works on ARMv7 and ARMv8 capable RPi models. You obviously run a 64-bit image, so using the aarch64 binary is the obvious correct choice, but even then, armhf and also non-hf binaries should be executed just fine, when not depending on shared armhf libraries. So if it does not work, would be interesting what error message is given, and which image/OS you use, as then we ha

[2021-11-26 15:20] fauust commented on #321
@MichaIng I am not sure that I understand what you are talking about. I was just asking for which binary I should use to make the docker ARM image compatible with most of ARM architectures (and of course Apple Silicon).
So you tell me :)

The image that raspberry use is https://hub.docker.com/layers/debian/library/debian/bullseye-slim/images/sha256-3da6322809c63296f41e7ec624178ad0aafa5d505514b33a8

[2021-11-26 15:22] fauust commented on #321
BTW, now that we are no building the binary in the docker build CI, I can adapt #406 to generate also other arm arch, see https://hub.docker.com/_/debian?tab=tags&page=1&name=bullseye-slim for the list of available arm arch.

[2021-11-26 15:33] MichaIng commented on #321
Ah okay, it's probably the aarch64 container which denies executing armhf binaries even that the host CPU would be able to? Could you try to do this in an armv6l/armv7l container/host system and adjust the dpkg architecture accordingly:
[code]

[2021-11-26 15:40] fauust commented on #321
Unfortunately, I do not have armv6l/armv7l architectures to test :(

My understanding is that you assumed correctly, the file is there (I have test to download and execute it manually), plus the build would have failed with `mv: cannot stat 'lychee': No such file or directory`.

[2021-11-26 16:00] MichaIng commented on #321
Okay just to verify: It is an aarch64/arm64 host, so `case $(dpkg --print-architecture) in "arm64")` is matched and the file does actually download, and indeed it must have, since `chmod` succeeded, but then `standard_init_linux.go:219: exec user process caused: no such file or directory` happens? I know such indeed when trying to execute a foreign/unsupported binary, shells print such error, whic

[2021-11-26 16:10] fauust commented on #321
Good!

Can you please check what `dpkg --print-architecture` gives on the pi Zero?

[2021-11-26 16:34] MichaIng commented on #321
`armhf`. It's this special armv6hf ARM which is the reason why Debian does not run on those and Raspbian was required in the first place. On Debian `armhf` is ARMv7 compatible only, so the Debian `armhf` binaries do not run on Raspberry Pi 1 and Zero. Similar thing with Docker containers, where often 32-bit ARM containers do not run, but one needs to search for such which are tagged for Raspberry

[2021-11-27 17:33] dcroote commented on #367
@rigtorp - thanks for the resources. This would be helpful for sites that include a Retry-After header, but unfortunately GitHub has its own set of headers. See [the above comment](https://github.com/lycheeverse/lychee/issues/367#issuecomment-952116663) by @mre.